/* EMBEDDED */

@font-face {
	font-family: 'TW-L';
	src: url('fonts/titillium_web_light.eot');
	src: url('fonts/titillium_web_light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/titillium_web_light.woff') format('woff'),
		 url('fonts/titillium_web_light.ttf') format('truetype'),
		 url('fonts/titillium_web_light.svg#titillium_weblight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'TW-SB';
	src: url('fonts/titillium_web_semibold.eot');
	src: url('fonts/titillium_web_semibold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/titillium_web_semibold.woff') format('woff'),
		 url('fonts/titillium_web_semibold.ttf') format('truetype'),
		 url('fonts/titillium_web_semibold.svg#titillium_websemibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SSP-R';
	src: url('fonts/source_sans_pro_regular.eot');
	src: url('fonts/source_sans_pro_regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/source_sans_pro_regular.woff') format('woff'),
		 url('fonts/source_sans_pro_regular.ttf') format('truetype'),
		 url('fonts/source_sans_pro_regular.svg#source_sans_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SSP-RI';
	src: url('fonts/source_sans_pro_regular_italic.eot');
	src: url('fonts/source_sans_pro_regular_italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/source_sans_pro_regular_italic.woff') format('woff'),
		 url('fonts/source_sans_pro_regular_italic.ttf') format('truetype'),
		 url('fonts/source_sans_pro_regular_italic.svg#source_sans_proitalic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'SSP-SB';
    src: url('fonts/source_sans_pro_semibold.eot');
    src: url('fonts/source_sans_pro_semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/source_sans_pro_semibold.woff') format('woff'),
         url('fonts/source_sans_pro_semibold.ttf') format('truetype'),
         url('fonts/source_sans_pro_semibold.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SSP-SBI';
    src: url('fonts/source_sans_pro_semibold_italic.eot');
    src: url('fonts/source_sans_pro_semibold_italic.eot?#iefix') format('embedded-opentype'),
         url('fonts/source_sans_pro_semibold_italic.woff') format('woff'),
         url('fonts/source_sans_pro_semibold_italic.ttf') format('truetype'),
         url('fonts/source_sans_pro_semibold_italic.svg#source_sans_proSBdIt') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ------------ GLOBAL --------------- */

* {
	margin: 0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 16px;
	line-height: 160%;
	text-align: center;
	color: #7e7e7e;
	background-color: #bfbfbf;
}

img {
	border: none;
}

input, textarea, select {
	-webkit-appearance: none;
}

a, a:link, a:visited, a:focus, a:active {
	color: #7e7e7e;
	text-decoration: none;
	transition: background-color 0.2s linear, color 0.2s linear;
    -o-transition: background-color 0.2s linear, color 0.2s linear;
    -moz-transition: background-color 0.2s linear, color 0.2s linear;
    -webkit-transition: background-color 0.2s linear, color 0.2s linear;
}

a:hover {
	color: #f98100;
}

p {
	font-size: 16px;
	line-height: 160%;
	margin-bottom: 40px;
}

p a {
	text-decoration: underline !important;
}

a.button-orange {
	margin-top: 10px;
	padding: 4px 10px;
	display: inline-block;
	text-decoration: none !important;
	color: #ffffff;
	background-color: #f98100;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

a.button:hover {
	text-decoration: underline !important;
}

a.button-grey {
	margin-top: 10px;
	padding: 4px 10px;
	display: inline-block;
	text-decoration: none !important;
	color: #ffffff;
	background-color: #7e7e7e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

a.button-grey:hover {
	background-color: #f98100;
}

table {
	border: none;
	border-collapse : collapse;
}

table td, table th {
	padding : 0;
}

ul, ol {
	list-style-type: none;
}

i, em {
	font-family: 'SSP-RI', Arial, sans-serif;
	font-style: normal;
}

b, strong {
	font-family: 'SSP-SB', Arial, sans-serif;
	font-weight: normal;
}

i b, i strong, em b, em strong, b i, b em, strong i, strong em {
	font-family: 'SSP-SBI', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}

h1, h2, h3, h4, h5 {
	font-family: 'TW-SB', Arial, sans-serif;
	color: #63676b;
	display: block;
	font-weight: normal;
	line-height: 120%;
	margin-bottom: 15px;
}

h1 span.subline, h2 span.subline, h3 span.subline, h4 span.subline, h5 span.subline {
	color: #919497;
	display: block;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 18px;
}

.cc_banner-wrapper {
	height: auto !important;
	background-color: #f98100 !important;
	z-index: 999999999 !important;
	-webkit-animation-duration: 0s !important;
   -moz-animation-duration: 0s !important;
   -o-animation-duration: 0s !important;
   animation-duration: 0s !important;
}

.cc_container {
	max-width: 1400px !important;
	margin: 0px auto !important;
	position: relative !important;
	background-color: transparent !important;
	border: none !important;
	text-align: left !important;
	font-family: 'SSP-R', Arial, sans-serif !important;
	font-size: 16px !important;
	color: #ffffff !important;
	padding: 10px 40px !important;
}

.cc_container a, .cc_container a:visited {
	color: #ffffff !important;
	text-decoration: underline !important;
}

.cc_container .cc_btn, .cc_container .cc_btn:visited {
	background-color: #f98100 !important;
	color: #ffffff !important;
	border: 2px solid #ffffff !important;
	text-decoration: none !important;
}

.cc_container .cc_btn:hover {
	color: #f98100 !important;
	background-color: #ffffff !important;
}

/* ELEMENTS */

div.bg-wrapper,
div.bg-top,
div.bg-head,
div.bg-menu,
div.bg-teaser,
div.bg-main,
div.bg-free,
div.bg-further,
div.bg-newsletter,
div.bg-footer,
div.bg-bottom {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
}

div.bg-wrapper {
	position: relative;
	background-image: url(img/bg_wrapper-gradient.png);
	background-position: top center;
	background-repeat: repeat-y;
}

div.bg-wrapper-top {
	width: 100%;
	height: 820px;
	float: left;
	clear: both;
	position: absolute;
	background-image: url(img/bg_wrapper-top.png);
	background-position: top center;
	background-repeat: no-repeat;
}

div.bg-wrapper-bottom {
	width: 100%;
	float: left;
	clear: both;
}

div.bg-top {
	background-color: #bfbfbf;
}

div.bg-main-noteaser {
	margin-top: 50px;
}

div.bg-head,
div.bg-menu,
div.bg-teaser,
div.bg-main,
div.bg-free,
div.bg-further,
div.bg-newsletter {
	margin-bottom: 1px;
}

div.bg-bottom {
	margin-bottom: 10px;
}

/*div.bg-menu.fixpos {
	position: fixed;
	top: 0;
}*/

div.center {
	width: 1400px;
	margin: 0px auto;
	position: relative;
}

div.top,
div.head,
div.menu,
div.teaser,
div.main,
div.free,
div.further,
div.newsletter,
div.footer,
div.bottom {
	width: 100%;
	float: left;
	clear: both;
	text-align: left;
}

div.top {
	font-size: 13px;
	color: #bfbfbf;
	padding: 5px 0px 3px 0px;
	background-color: #e5e5e5;
}

div.top-left {
	float: left;
	clear: left;
	margin-left: 40px;
}

div.intive {
	width: 152px;
	height: 18px;
	display: block;
	float: left;
	clear: none;
	margin-top: 4px;
	text-indent: -999px;
	overflow: hidden;
	background-image: url(img/intive.svg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 100% 100%;
}

div.top-right {
	float: right;
	clear: right;
	margin-right: 40px;
}

div.top span.pre-lang,
div.top span.pre-social {
	color: #63676b;
	display: block;
	float: left;
	clear: none;
}

div.top a.lang-item {
	font-family: 'SSP-SB', Arial, sans-serif;
	display: inline-block;
	color: #8d8f92;
	padding: 0px 5px;
}

div.top a.lang-item:hover {
	color: #63676b;
}

div.top a.lang-cur {
	color: #f98100;
	cursor: text;
}

div.top a.social-item {
	width: 18px;
	height: 18px;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	float: left;
	clear: none;
	margin: 3px 0px 0px 5px;
	background-image: url(img/bg_top-social.svg);
	background-repeat: no-repeat;
	background-size: 18px 90px;
}

div.top a.social-facebook {
	background-position: 0px 0px;
}

div.top a.social-xing {
	background-position: 0px -18px;
}

div.top a.social-kununu {
	background-position: 0px -36px;
}

div.top a.social-linkedin {
	background-position: 0px -54px;
}

div.top a.social-youtube {
	background-position: 0px -72px;
}

div.head {
	padding: 30px 0px;
	background-color: #ffffff;
}

div.head-left {
	float: left;
	clear: left;
	margin-left: 40px;
}

div.head a.logo {
	width: 260px;
	/*width: 280px;*/
	height: 55px;
	float: left;
	clear: left;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(img/bg_top-logo.svg);
	background-repeat: no-repeat;
	background-position: top left;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

div.head-right {
	float: right;
	clear: right;
	margin-right: 40px;
}

div.head span.slogan {
	font-family: 'TW-SB', Arial, sans-serif;
	font-style: italic;
	font-size: 38px;
	float: left;
	clear: both;
	color: #f98100;
	margin-top: 15px;
}

div.menu-wrapper {
	width: 100%;
	float: left;
	clear: both;
	position: relative;
}

div.menu {
	height: 50px;
	background-color: #ffffff;
	position: absolute;
	z-index: 100;
}

div.bg-menu.fixpos div.menu {
	top: 0;
	position: fixed;
	z-index: 99999;
	background-color: transparent;
}

div.menu-logo {
	width: 50px;
	height: 50px;
	float: left;
	clear: left;
	background-color: #ffffff;
	margin-right: 1px;
	display: none;
}

div.bg-menu.fixpos div.menu-logo {
	display: block;
}

div.menu-logo a.logo {
	width: 100%;
	height: 100%;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(img/bg_menu-logo.svg);
	background-repeat: no-repeat;
	background-position: top left;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

div.menu-trigger {
	height: 38px;
	float: left;
	clear: none;
	padding: 12px 45px 0px 15px;
	margin-right: 1px;
	font-family: 'TW-SB', Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
	background-color: #8d8f92;
	background-color: rgba(141,143,146,0.9);
	background-image: url(img/bg_menu-trigger.svg);
	background-repeat: no-repeat;
	background-position: top right;
	-moz-background-size: auto 100%;
	-o-background-size: auto 100%;
	-webkit-background-size: auto 100%;
	background-size: auto 100%;
	display: none;
}

div.bg-menu.fixpos div.menu-trigger {
	display: block;
}

div.menu-trigger.menu-trigger-open {
	height: 39px;
	background-color: #8d8f92;
}

div.menu-left {
	float: left;
	clear: left;
	padding-left: 40px;
	background-color: #ffffff;
}

div.bg-menu.fixpos div.menu-left {
	width: 100%;
	padding: 0px;
	visibility: hidden;
	opacity: 0;
	background-color: #8d8f92;
	background-color: rgba(141,143,146,0.9);
	transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
}

div.bg-menu.fixpos div.menu-left-open {
	visibility: visible;
	background-color: #8d8f92;
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
}

div.bg-menu.fixpos div.menu-left ul.nav-main {
	margin: 20px;
}

ul.nav-main {
	float: left;
	clear: both;
}

ul.nav-main > li {
	float: left;
	clear: none;
	position: relative;
	margin-right: 60px;
}

ul.nav-main > li.last {
	margin-right: 0px;
}

ul.nav-main > li > a {
	font-family: 'TW-SB', Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #75787b;
	display: block;
	float: left;
	clear: both;
	padding: 12px 0px;
}

ul.nav-main > li.current > a,
ul.nav-main > li > a:hover {
	color: #f98100;
}

ul.nav-sek {
	position: absolute;
	white-space: nowrap;
	float: left;
	clear: both;
	left: -15px;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 39px;
	padding-top: 20px;
	background-image: url(img/bg_nav-sek.svg);
	background-repeat: no-repeat;
	background-position: top left;
	display: none;
}

ul.nav-main > li:hover > ul.nav-sek {
	display: block;
}

ul.nav-sek > li {
	width: 100%;
	float: left;
	clear: both;
	background-color: #ffffff;
	background-color: rgba(255,255,255,0.7);
	transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
}

ul.nav-sek > li:hover {
	background-color: #ffffff;
}

ul.nav-sek > li > a {
	margin: 0px 15px;
	padding: 6px 0px 4px 0px;
	display: block;
	color: #75787B;
	border-top: 1px solid #c2c3c4;
	transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
}

ul.nav-sek > li:hover > a {
	color: #f98100;
	border-top: 1px solid #ffffff;
}

/*ul.nav-main li:nth-child(3) ul.nav-sek li:last-child {
	border-top: 1px solid #c2c3c4;
	background-color: transparent;
}

ul.nav-main li:nth-child(3) ul.nav-sek li:last-child > a {
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	text-transform: none;
	border-top: 0px;
}*/

div.bg-menu.fixpos ul.nav-main > li {
	display: block;
	float: left;
	margin: 0px 22px;
}

div.bg-menu.fixpos ul.nav-main > li:first-of-type {
	display: none;
}

div.bg-menu.fixpos ul.nav-main > li > a {
	color: #ffffff;
	padding: 0px;
}

div.bg-menu.fixpos ul.nav-main > li > a:hover,
div.bg-menu.fixpos ul.nav-main > li.current > a {
	color: #474a4d;
}

div.bg-menu.fixpos ul.nav-sek {
	font-size: 16px;
	position: relative;
	display: block;
	margin: 0px;
	padding: 0px;
	left: 0;
	top: 0px;
	text-transform: none;
	background: transparent;
}

div.bg-menu.fixpos ul.nav-sek > li {
	background-color: transparent;
}

div.bg-menu.fixpos ul.nav-sek li:hover {
	background-color: transparent;
}

div.bg-menu.fixpos ul.nav-main li:nth-child(3) ul.nav-sek li:last-child {
	border: none;
}

div.bg-menu.fixpos ul.nav-main li:nth-child(3) ul.nav-sek li:last-child a {
	text-align: left;
}

div.bg-menu.fixpos ul.nav-sek a {
	margin: 0px;
	padding: 2px 0px;
	color: #ffffff;
	border: none;
	transition-delay: 0s;
    -o-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
}

div.bg-menu.fixpos ul.nav-sek a:hover {
	color: #474a4d;
}

div.breadcrumbs {
	float: left;
	clear: none;
	top: 0px;
	left: 160px;
	position: absolute;
	display: none;
}

div.bg-menu.fixpos div.breadcrumbs {
	display: block;
}

ul.nav-bc {
	float: left;
	clear: left;
}

ul.nav-bc > li {
	float: left;
	clear: none;
	position: relative;
	margin-left: 1px;
}

ul.nav-bc > li.bc-current {
	height: 40px;
	padding: 10px 14px 0px 14px;
	font-family: 'TW-SB', Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #919497;
	float: left;
	clear: none;
	display: block;
	background-color: #f1f2f3;
}

ul.nav-bc > li > a {
	height: 40px;
	padding: 10px 30px 0px 14px;
	font-family: 'TW-SB', Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	color: #919497;
	float: left;
	clear: both;
	display: block;
	background-color: #f1f2f3;
}

ul.nav-bc > li.bc-dropdown > a {
	background-image: url(img/bg_bc-arrow.svg);
	background-repeat: no-repeat;
	background-position: top right;
}

ul.nav-bc > li.bc-dropdown:hover > a {
	color: #f98100;
	background-position: bottom right;
}

ul.bc-nav-sek {
	position: absolute;
	white-space: nowrap;
	float: left;
	clear: both;
	left: 0px;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 50px;
	background-color: #8d8f92;
	background-color: rgba(141,143,146,0.9);
	display: none;
}

ul.nav-bc li.bc-dropdown:hover ul.bc-nav-sek {
	display: block;
}

ul.bc-nav-sek > li {
	width: 100%;
	float: left;
	clear: both;
	transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
}

ul.bc-nav-sek > li:hover {
	background-color: #ffffff;
}

ul.bc-nav-sek > li > a {
	margin: 0px 14px;
	padding: 3px 0px 3px 0px;
	display: block;
	color: #ffffff;
	border-top: 1px solid #c2c3c4;
	background-color: transparent;
	background-image: none;
	transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -webkit-transition-delay: 0.1s;
}

ul.bc-nav-sek > li:hover > a {
	color: #f98100;
	border-top: 1px solid #ffffff;
}

div.menu-right {
	width: 50px;
	height: 50px;
	float: right;
	clear: right;
	background-color: #ffffff;
}

div.bg-menu.fixpos div.menu-right {
	/*top: 0;
	right: 0;
	background-color: #f1f2f3;
	position: absolute;*/
	display: none;
}

span.top-search {
	width: 50px;
	height: 50px;
	float: left;
	clear: both;
	cursor: pointer;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	background-image: url(img/bg_top-search.svg);
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-position 0.3s linear, background-image 0.2s ease-in-out;
    -o-transition: background-position 0.3s linear, background-image 0.2s ease-in-out;
    -moz-transition: background-position 0.3s linear, background-image 0.2s ease-in-out;
    -webkit-transition: background-position 0.3s linear, background-image 0.2s ease-in-out;
}

span.top-search:hover {
	background-image: url(img/bg_top-search_hover.svg);
}

span.top-search.top-search-open {
	background-position: bottom center;
}

div.top-search-content {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 60;
	transition: top 0.3s linear;
    -o-transition: top 0.3s linear;
    -moz-transition: top 0.3s linear;
    -webkit-transition: top 0.3s linear;
}

div.top-search-content.top-search-content-open {
	top: 50px;
}

/*div.bg-menu.fixpos div.top-search-content {
	top: -50px;
	right: 50px;
	position: absolute;
}*/

div.bg-menu.fixpos div.top-search-content.top-search-content-open {
	top: 0px;
}

div.top-search-content input[type="text"] {
	width: 200px;
	height: 40px;
	padding: 0px 90px 0px 10px;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	float: left;
	clear: left;
	margin: 5px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #8d8f92;
	transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -webkit-transition: background-color 0.3s linear;
}

div.top-search-content input[type="text"]:focus {
	background-color: rgba(141,143,146,1);
}

div.top-search-content input[type="submit"] {
	height: 32px;
	padding: 0px 10px;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	color: #75787b;
	float: right;
	clear: right;
	margin: 9px 9px 9px -100px;
	border: none;
	cursor: pointer;
	background-color: #ffffff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: color 0.3s linear, background-color 0.3s linear;
    -o-transition: color 0.3s linear, background-color 0.3s linear;
    -moz-transition: color 0.3s linear, background-color 0.3s linear;
    -webkit-transition: color 0.3s linear, background-color 0.3s linear;
}

div.top-search-content input[type="submit"]:hover {
	color: #ffffff;
	background-color: #f98100;
}

div.top-search-content div#kesearch_filters {
	display: none;
}

div.teaser {
	position: relative;
}

div.teaser-img {
	width: 100%;
	height: 100%;
	float: left;
	clear: both;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

div.teaser-img img {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
}

div.teaser-bottom {
	width: 100%;
	height: 150px;
	float: left;
	clear: both;
	position: absolute;
	bottom: 0;
	background-image: url(img/bg_teaser-bottom.svg);
	background-repeat: repeat-x;
	background-position: top center;
	display: none;
}

div.teaser div.teaser-slider img {
	width: 100%;
	height: auto;
	float: left;
	clear: none;
}

div.teaser-slider div.bx-caption {
	float: left;
	clear: both;
	/*padding: 20px 40px;
	font-family: 'TW-SB', Arial, sans-serif;
	font-size: 32px;
	color: #ffffff;
	background-color: #F98100;*/
	box-sizing: border-box;
	position: absolute;
	bottom: 80px;
	left: 40px;
}

div.teaser-slider div.bx-caption h2 {
	padding: 10px 16px;
	font-family: 'TW-SB', Arial, sans-serif;
	font-size: 48px;
	color: #ffffff;
	float: left;
	clear: both;
	display: block;
	background-color: #F98100;
}

div.teaser-slider div.bx-caption p {
	font-size: 20px;
	float: left;
	clear: both;
	display: block;
	padding: 6px 16px;
	margin: 0px !important;
	background-color: #ffffff;
}

div.teaser-slider div.bx-caption a {
	font-size: 20px;
	font-family: 'TW-SB', Arial, sans-serif;
	float: left;
	clear: both;
	display: block;
	padding: 2px 16px 10px 16px;
	color: #F98100;
	text-decoration: underline;
	background-color: #ffffff;
}

div.teaser div.bx-controls {
	width: 100%;
	float: left;
	clear: both;
	position: absolute;
	bottom: 30px;
	left: 0px;
	z-index: 60;
	text-align: center;
}

div.teaser div.bx-pager {
	display: inline-block;
}

div.teaser div.bx-pager-item {
	float: left;
	clear: none;
	margin: 0px 5px;
}

div.teaser div.bx-pager-item a {
	width: 12px;
	height: 12px;
	display: block;
	float: left;
	clear: none;
	text-indent: -9999px;
	overflow: hidden;
	background-color: #F98100;
	background-color: rgba(249,129,0,0.4);
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

div.teaser div.bx-pager-item a:hover {
	background-color: #F98100;
}

div.teaser div.bx-pager-item a.active,
div.teaser div.bx-pager-item a.active:hover {
	background-color: #F98100;
}

div.main {
	width: 92%;
	padding: 4%;
	background-color: #ffffff;
	overflow: hidden;
}

div.main-left {
	width: 66%;
	float: left;
	clear: left;
}

div.main-right {
	width: 30%;
	float: right;
	clear: right;
	margin-left: 4%;
}

div.main ul {
	width: 100%;
	float: left;
	clear: both;
}

div.main ul li {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 5px;
	padding-left: 15px;
	background-image: url(img/bg_main_li.svg);
	background-repeat: no-repeat;
	background-position: 0px 7px;
}

div.main ul li.csc-sitemap {
	width: 100%;
	float: left;
	clear: both;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	padding: 0px;
	background-image: none;
	margin-bottom: 3px;
}

div.main ul li.csc-sitemap a {
	width: 98%;
	display: block;
	float: left;
	padding: 6px 0px 6px 2%;
	background-color: #f1f2f3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.main ul li.csc-sitemap a:hover {
	color: #ffffff;
	background-color: #f98100;
}

div.acc-item {
	width: 100%;
	float: left;
	clear: both;
	background-color: #f1f2f3;
	margin-bottom: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

div.acc-trigger {
	width: 90%;
	float: left;
	clear: both;
	padding: 3% 5% 2% 5%;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 7px center;
	-moz-background-size: 24px 24px;
	-o-background-size: 24px 24px;
	-webkit-background-size: 24px 24px;
	background-size: 24px 24px;
}

div.acc-item:hover div.acc-trigger,
div.acc-trigger:hover {
	background-color: #f98100;
}

div.acc-trigger h3 {
	font-family: 'SSP-SB', Arial, sans-serif;
	font-size: 18px;
	line-height: 100%;
	color: #7e7e7e;
	margin: 0px;
	padding-left: 24px;
}

div.acc-item:hover div.acc-trigger h3,
div.acc-trigger:hover h3 {
	color: #ffffff;
}

div.acc-trigger h3 span.subline {
	font-size: 14px;
	/*text-transform: uppercase;*/
}

div.acc-item:hover h3 span.subline,
div.acc-trigger:hover h3 span.subline {
	color: #ffffff;
}

div.acc-trigger-second {
	width: 100%;
	height: 50px;
	float: left;
	clear: both;
	position: absolute;
	top: 0;
	cursor: pointer;
	display: none;
}

div.acc-content {
	width: 90%;
	float: left;
	clear: both;
	line-height: 120%;
	padding: 2% 5%;
	display: none;
}

div.acc-content ul li {
	width: auto;
	background-position: 0px 4px;
}

div.main-right div.leistungsspektrum {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

div.acc-icon-01 div.acc-trigger {
	background-image: url(img/bg_acc-icon-01.svg);
}

div.acc-icon-01:hover div.acc-trigger,
div.acc-icon-01 div.acc-trigger:hover {
	background-image: url(img/bg_acc-icon-01_hover.svg);
}

div.acc-icon-02 div.acc-trigger {
	background-image: url(img/bg_acc-icon-02.svg);
}

div.acc-icon-02:hover div.acc-trigger,
div.acc-icon-02 div.acc-trigger:hover {
	background-image: url(img/bg_acc-icon-02_hover.svg);
}

div.acc-icon-03 div.acc-trigger {
	background-image: url(img/bg_acc-icon-03.svg);
}

div.acc-icon-03:hover div.acc-trigger,
div.acc-icon-03 div.acc-trigger:hover {
	background-image: url(img/bg_acc-icon-03_hover.svg);
}

div.acc-icon-04 div.acc-trigger {
	background-image: url(img/bg_acc-icon-04.svg);
}

div.acc-icon-04:hover div.acc-trigger,
div.acc-icon-04 div.acc-trigger:hover {
	background-image: url(img/bg_acc-icon-04_hover.svg);
}

div.acc-icon-05 div.acc-trigger {
	background-image: url(img/bg_acc-icon-05.svg);
}

div.acc-icon-05:hover div.acc-trigger,
div.acc-icon-05 div.acc-trigger:hover {
	background-image: url(img/bg_acc-icon-05_hover.svg);
}

div.acc-item-last {
	margin-bottom: 30px;
}

/*div.main-right div.leistungsspektrum h3 {
	font-size: 30px;
}*/

div.main-right div.leistungsspektrum ul {
	width: 100%;
	float: left;
	clear: both;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

div.main-right div.leistungsspektrum ul li {
	width: 100%;
	float: left;
	clear: both;
	padding: 0px;
	background-image: none;
	margin-bottom: 3px;
}

div.main-right div.leistungsspektrum ul li a {
	width: 92%;
	display: block;
	float: left;
	padding: 6px 0px 6px 8%;
	background-color: #f1f2f3;
	background-image: url(img/bg_leistungsspektrum-link.svg);
	background-repeat: no-repeat;
	background-position: 10px 12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.main-right div.leistungsspektrum ul li a:hover {
	color: #ffffff;
	background-color: #f98100;
	background-image: url(img/bg_leistungsspektrum-link_hover.svg);
}

div.jobs-banner {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

div.jobs-banner h4 {
	width: 100%;
	overflow: hidden;
	font-style: italic;
	font-size: 34px;
	float: left;
	clear: both;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}

div.jobs-banner h4 span.subline {
	font-family: 'SSP-RI', Arial, sans-serif;
	font-style: normal;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	display: inline;
	margin-left: 5px;
}

div.jobs-banner h4 a {
	width: 100%;
	height: 50px;
	color: #ffffff;
	padding: 2px 0px 0px 60px;
	display: block;
	float: left;
	clear: both;
	background-color: #8d8f92;
	background-image: url(img/bg_jobs-banner.svg);
	background-repeat: no-repeat;
	background-position: left center;
}

div.main-full {
	width: 100%;
	float: left;
	clear: both;
}

div.divider {
	width: 100%;
	height: 2px;
	display: inline-block;
	margin: 40px 0px;
	background-color: #e5e5e5;
}

div.divider hr {
	display: none;
}

div.csc-textpic-intext-left .csc-textpic-imagewrap,
div.csc-textpic-intext-left-nowrap .csc-textpic-imagewrap {
	margin-right: 20px;
}

div.further {
	width: 92%;
	padding: 4% 4% 3% 4%;
	background-color: #f2f2f2;
}

div.further-item {
	width: 32%;
	margin-right: 2%;
	float: left;
	clear: none;
}

div.further-item:last-child {
	margin-right: 0%;
}

div.further-item div.csc-textpic,
div.further-item div.csc-textpic-imagewrap,
div.further-item div.csc-textpic-image,
div.further-item img {
	width: 100% !important;
	height: auto !important;
	overflow: visible;
	margin: 0px;
}

div.further-item p {
	margin: 0px;
	font-size: 16px;
	line-height: 140%;
}

div.further-item p b {
	font-family: 'TW-SB', Arial, sans-serif;
	font-size: 24px;
	font-weight: normal;
	width: 100%;
	display: block;
	float: left;
	clear: both;
	margin-bottom: 5px;
}

div.further-item p a {
	text-decoration: none !important;
}

div.newsletter {
	width: 92%;
	padding: 2% 4% 1% 4%;
	background-color: #ffffff;
}

div.footer {
	width: 96%;
	padding: 2% 0% 2% 4%;
	background-color: #63676b;
}

div.footer-left {
	float: left;
	clear: left;
}

div.footer-left-top {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 5px;
}

div.footer-left-top a.logo {
	width: 189px;
	/*width: 204px;*/
	height: 40px;
	float: left;
	clear: both;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(img/bg_footer-logo.svg);
	background-repeat: no-repeat;
	background-position: top left;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

div.footer-left-bottom {
	float: right;
	clear: both;
	margin-top: 16px;
}

div.footer-left-bottom span.pre-social {
	font-size: 12px;
	color: #ffffff;
	display: block;
	float: left;
	clear: none;
}

div.footer-left-bottom a.social-item {
	width: 18px;
	height: 18px;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	float: left;
	clear: none;
	margin: 3px 0px 0px 5px;
	background-image: url(img/bg_top-social.svg);
	background-repeat: no-repeat;
	background-size: 18px 90px;
}

div.footer-left-bottom a.social-facebook {
	background-position: 0px 0px;
}

div.footer-left-bottom a.social-xing {
	background-position: 0px -18px;
}

div.footer-left-bottom a.social-kununu {
	background-position: 0px -36px;
}

div.footer-left-bottom a.social-linkedin {
	background-position: 0px -54px;
}

div.footer-left-bottom a.social-youtube {
	background-position: 0px -72px;
}

div.footer-right {
	width: 80%;
	float: right;
	clear: right;
}

div.footer-right-item {
	width: 50%;
	float: left;
	clear: none;
}

div.footer-right-item h5 {
	width: 100%;
	float: left;
	clear: both;
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 10px;
}

div.footer-right-item p {
	line-height: 140%;
	color: #e3e4e5;
	float: left;
	clear: none;
	margin: 0px 30px 0px 0px;
}

div.footer-right-item p a {
	color: #f98100;
	text-decoration: none !important;
}

div.footer-right-item p a:hover {
	text-decoration: underline!important;
}

div.bottom {
	width: 92%;
	padding: 1% 4%;
	font-size: 14px;
}

div.bottom-left {
	color: #63676b;
	float: left;
	clear: left;
}

div.bottom-left span.pre-social {
	display: none;
	float: left;
	clear: none;
}

div.bottom-left a.social-item {
	width: 18px;
	height: 18px;
	text-indent: -9999px;
	overflow: hidden;
	display: none;
	float: left;
	clear: none;
	margin: 3px 0px 0px 5px;
	background-image: url(img/bg_top-social.svg);
	background-repeat: no-repeat;
	background-size: 18px 90px;
}

div.bottom-left a.social-facebook {
	background-position: 0px 0px;
}

div.bottom-left a.social-xing {
	background-position: 0px -18px;
}

div.bottom-left a.social-kununu {
	background-position: 0px -36px;
}

div.bottom-left a.social-linkedin {
	background-position: 0px -54px;
}

div.bottom-left a.social-youtube {
	background-position: 0px -72px;
}

div.bottom-right {
	float: right;
	clear: right;
}

ul.bottom-nav {
	float: right;
	clear: both;
}

ul.bottom-nav li {
	float: left;
	clear: none;
	margin-left: 20px;
}

ul.bottom-nav li a {
	color: #63676b;
}

ul.bottom-nav li a:hover {
	color: #ffffff;
}

div.fancybox-skin {
	padding: 5px !important;
}

/* DOWNLOADS */

div.downloads {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 120px;
}

div.downloads div.csc-header {
	width: 100%;
	float: left;
	clear: both;
}

div.downloads div.csc-header h3 {
	float: left;
	clear: both;
	line-height: 100%;
	margin: 15px 10px;
}

div.downloads ul {
	width: 100%;
	float: left;
	clear: both;
	font-size: 18px;
}

div.downloads ul li {
	width: 100%;
	float: left;
	clear: both;
	display: block;
	padding: 0px;
	background-image: none;
	margin: 1px 0px 0px 0px;
}

div.downloads ul li a {
	width: 100%;
	color: #7e7e7e;
	display: block;
	float: left;
	clear: both;
	padding: 10px 0px 8px 10px;
	text-decoration: none;
	background-color: #f1f2f3;
}

div.downloads ul li a:hover {
	color: #ffffff;
	background-color: #f98100;
}

div.downloads ul li a span.download-title {
	display: inline;
	margin-left: 10px;
	/*float: left;
	clear: right;*/
}

div.downloads ul li a span.download-filetype {
	display: inline;
	text-transform: uppercase;
}

div.downloads ul li a span.download-icon {
	width: 28px;
	height: 22px;
	display: inline-block;
	float: left;
	clear: left;
	text-indent: -9999px;
	overflow: hidden;
	margin-left: 0px;
	background-image: url(img/bg_download-icon.svg);
	background-repeat: no-repeat;
	background-position: top left;
	-moz-background-size: 100% 200%;
	-o-background-size: 100% 200%;
	-webkit-background-size: 100% 200%;
	background-size: 100% 200%;
}

div.downloads ul li a:hover span.download-icon {
	background-position: bottom left;
}

div.standort-left,
div.standort-right {
	width: 48%;
	float: left;
	margin-top: 20px;
}

div.standort-left {
	margin-right: 2%;
	clear: left;
}

div.standort-right {
	margin-left: 2%;
	clear: right;
}

div.standort-left img,
div.standort-right img {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

div.standort-left p,
div.standort-right p {
	width: 48%;
	display: block;
	float: left;
	clear: none;
	margin: 0px 2% 0px 0px;
}

div.kontakt-karte {
	width: 48%;
	float: left;
	clear: none;
	margin: 2% 2% 0px 0px;
	background-color: #f1f2f3;
}

div.kontakt-karte p {
	margin: 20px 0px 0px 0px;
	line-height: 140%;
}

div.kontakt-karte div.csc-textpic div.csc-textpic-imagewrap div.csc-textpic-image {
	margin: 0px 0px 0px 0px;
}

div.kontakt-karte div.csc-textpic-imagewrap {
	width: 48%;
	float: left;
	clear: left;
	margin-right: 2%;
}

div.kontakt-karte img {
	width: 100%;
	height: auto;
}

div.kontakt-karte div.csc-textpic-text {
	width: 50%;
	float: left;
	clear: right;
	margin: 0px;
}

div.kundenlogos,
div.kundenlogos div.csc-textpic-left div.csc-textpic-imagewrap {
	width: 100%;
	float: left;
	clear: both;
}

div.kundenlogos div.csc-textpic-imagerow {
	display: inline;
}

div.kundenlogos div.csc-textpic div.csc-textpic-imagewrap div.csc-textpic-image,
div.kundenlogos div.csc-textpic-imagecolumn {
	margin: 0px;
}

div.kundenlogos img {
	margin: 0px 3px 3px 0px;
}

div.kundenstatements,
div.kundenstatements ul {
	width: 100%;
	float: left;
	clear: both;
}

div.main div.kundenstatements li {
	clear: both;
	width: 86.5%;
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 120%;
	padding: 20px 0px;
	background-color: #f1f2f3;
	background-repeat: no-repeat;
	-moz-background-size: 20px 300px;
	-o-background-size: 20px 300px;
	-webkit-background-size: 20px 300px;
	background-size: 20px 300px;
}

div.main div.kundenstatements li.odd {
	float: left;
	padding-left: 10%;
	padding-right: 2%;
	text-align: left;
	background-image: url(img/bg_kundenstatement-left.svg);
	background-position: top left;
}

div.main div.kundenstatements li.even {
	float: right;
	padding-right: 10%;
	padding-left: 2%;
	text-align: right;
	background-image: url(img/bg_kundenstatement-right.svg);
	background-position: top right;
}

div.main div.three-col-list {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 30px;
}

/*div.main div.three-col-list li {
	padding: 0px;
	background-image: none;
	margin: 0px;
}*/

div.main div.three-col-list ul {
	width: 32% !important;
	float: left;
	clear: none;
	margin-right: 1%;
}

div.bulletpoints-left,
div.bulletpoints-right {
	width: 49%;
	float: left;
}

div.bulletpoints-left {
	clear: left;
	margin-right: 1%;
}

div.bulletpoints-right {
	clear: right;
	margin-left: 1%;
}

div.main div.bulletpoints-left li,
div.main div.bulletpoints-right li {
	width: 80%;
	min-height: 44px;
	padding-left: 50px;
	margin: 10px 0px;
	background-image: url(img/bg_bulletpoints.svg);
	background-position: 0px 2px;
	background-repeat: no-repeat;
	-moz-background-size: 42px 42px;
	-o-background-size: 42px 42px;
	-webkit-background-size: 42px 42px;
	background-size: 42px 42px;
}

div.tag-cloud {
	width: 100%;
	float: left;
	clear: both;
	font-family: 'TW-SB', Arial, sans-serif;
}

div.main div.tag-cloud ul {
	line-height: 180%;
	margin-top: 15px;
	text-align: center;
	text-transform: uppercase;
}

div.main div.tag-cloud li {
	width: auto;
	float: none;
	background-image: none;
	padding: 0px;
	margin: 8px 10px;
	display: inline-block;
}

div.tag-cloud a.tagcloud-s {
	font-size: 16px;
}

div.tag-cloud a.tagcloud-m {
	font-size: 20px;
}

div.tag-cloud a.tagcloud-l {
	font-size: 24px;
}

div.tag-cloud a.tagcloud-xl {
	font-size: 28px;
}

div.incentives {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
}

div.incentive-item {
	width: 180px;
	margin: 10px 16px;
	display: inline-block;
}

span.incentive-title {
	width: 100%;
	float: left;
	clear: both;
	font-family: 'SSP-SB', Arial, sans-serif;
	line-height: 120%;
}

span.incentive-01,
span.incentive-02,
span.incentive-03,
span.incentive-04,
span.incentive-05,
span.incentive-06,
span.incentive-07,
span.incentive-08,
span.incentive-09 {
	width: 180px;
	height: 180px;
	float: left;
	clear: both;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	display: block;
	margin-bottom: 15px;
	background-image: url(img/bg_incentives.svg);
	background-repeat: no-repeat;
	-moz-background-size: 100% auto;
	-o-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	background-size: 100% auto;
}

span.incentive-01 {
	background-position: 0px 0px;
}

span.incentive-02 {
	background-position: 0px -180px;
}

span.incentive-03 {
	background-position: 0px -360px;
}

span.incentive-04 {
	background-position: 0px -540px;
}

span.incentive-05 {
	background-position: 0px -720px;
}

span.incentive-06 {
	background-position: 0px -900px;
}

span.incentive-07 {
	background-position: 0px -1080px;
}

span.incentive-08 {
	background-position: 0px -1260px;
}

span.incentive-09 {
	background-position: 0px -1440px;
}

div.testimonial-wrapper {
	width: 100%;
	float: left;
	clear: both;
	padding-top: 10px;
	position: relative;
}

div.testimonial-slider {
	width: 100%;
}

div.testimonial-item {
	width: 100%;
	background-color: #F2F2F2;
}

div.testimonial-txt div.testimonial-align {
	width: 100%;
	display: table;
}

div.testimonial-img {
	width: 30%;
	overflow: hidden;
	display: table-cell;
	position: relative;
}

div.testimonial-img div.csc-textpic,
div.testimonial-img div.csc-textpic-imagewrap {
	width: 100%;
}

div.testimonial-img div.csc-textpic div.csc-textpic-imagewrap div.csc-textpic-image {
	margin: 0px;
}

div.testimonial-img img {
	width: 100%;
	height: auto;
}

div.testimonial-img-corner {
	top: 50%;
	right: -32px;
	position: absolute;
}

div.testimonial-img-corner-item {
	width: 64px;
	height: 64px;
	margin-top: -32px;
	background-image: url(img/bg_testimonial-img-corner.svg);
	background-repeat: no-repeat;
	background-position: top left;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 1100% 100%;
	background-size: 100% 100%;
}

div.testimonial-txt {
	width: 64%;
	height: 100%;
	padding: 0px 3%;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

div.testimonial-slider-two div.testimonial-txt {
	text-align: left;
}

div.testimonial-txt h1,
div.testimonial-txt h2,
div.testimonial-txt h3,
div.testimonial-txt h4,
div.testimonial-txt h5 {
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 28px;
	margin: 0px;
}

div.testimonial-txt p {
	margin: 0px;
	color: #63676B;
}

div.testimonial-slider-two div.testimonial-txt p {
	line-height: 140%;
}

div.testimonial-txt p b,
div.testimonial-txt p strong {
	color: #F98100;
}

div.testimonial-wrapper div.bx-controls {
	width: 100%;
	float: left;
	clear: both;
	position: absolute;
	top: -10px;
	right: 0;
}

div.testimonial-wrapper div.bx-pager {
	float: right;
	clear: both;
}

div.testimonial-wrapper div.bx-pager-item {
	float: left;
	clear: none;
	margin: 0px 4px;
}

div.testimonial-wrapper div.bx-pager-item a {
	width: 12px;
	height: 12px;
	display: block;
	float: left;
	clear: none;
	text-indent: -9999px;
	overflow: hidden;
	background-color: #dbdbdb;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

div.testimonial-wrapper div.bx-pager-item a:hover {
	background-color: #7E7E7E;
}

div.testimonial-wrapper div.bx-pager-item a.active,
div.testimonial-wrapper div.bx-pager-item a.active:hover {
	background-color: #F98100;
}

div.mediaelement {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 20px;
}

div.youtube-video,
div.mediaelement-video {
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	padding-bottom: 52%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

div.youtube-video iframe,
div.mediaelement-video iframe {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

div.team-gallery,
div.team-gallery div.csc-textpic,
div.team-gallery div.csc-textpic-imagewrap {
	width: 100%;
	float: left;
	clear: both;
}

div.team-gallery div.csc-textpic-imagerow {
	float: left;
	clear: none;
	position: relative;
	margin: 20px 5px 0px 0px;
}

div.team-gallery div.csc-textpic .csc-textpic-imagewrap .csc-textpic-image {
	margin: 0px;
}

div.team-gallery caption {
	width: 90%;
	padding: 3% 5%;
	float: left;
	clear: both;
	position: absolute;
	bottom: 0;
	display: block;
	line-height: 120%;
	color: #ffffff;
	background-color: #8d8f92;
	background-color: rgba(141,143,146,0.9);
}

div.big-bulletpoints h5 span.big-bullet {
	width: 32px;
	height: 32px;
	display: block;
	float: left;
	clear: left;
	color: #ffffff;
	margin-right: 10px;
	padding-top: 4px;
	text-align: center;
	background-image: url(img/bg_ordered-list_li.svg);
	background-repeat: no-repeat;
	background-position: top left;
}

div.big-bulletpoints h5 span.big-bullet-headline {
	float: left;
	clear: right;
	padding-top: 4px;
}

div.big-bulletpoints p {
	padding-left: 42px;
	float: left;
	clear: both;
}

div.ui-tabs {
	width: 100%;
	float: left;
	clear: both;
	padding: 0px;
	border: none;
	margin-top: 50px;
	border-radius: 0px;
	background: none;
	text-align: center;
	font-family: 'SSP-R', Arial, sans-serif;
}

div.ui-tabs ul.ui-tabs-nav {
	width: auto;
	display: inline-block;
	margin: 0px auto;
	padding: 0px;
	border: none;
	float: none;
	clear: none;
	background: none;
	border-radius: 0px;
}

div.ui-tabs ul.ui-tabs-nav li {
	font-weight: normal;
	width: auto;
	height: 50px;
	margin: 0px 1px 0px 0px;
	padding: 0px;
	border: none;
	float: left;
	clear: none;
	display: block;
	background: none;
}

div.ui-tabs ul.ui-tabs-nav li a {
	padding: 10px 20px 8px 20px;
	float: left;
	clear: none;
	display: block;
	color: #ffffff;
	background-color: #63676B;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-active a {
	background-color: #f98100;
	transition: background-color 0s linear, color 0s linear;
    -o-transition: background-color 0s linear, color 0s linear;
    -moz-transition: background-color 0s linear, color 0s linear;
    -webkit-transition: background-color 0s linear, color 0s linear;
}

div.ui-tabs ul.ui-tabs-nav li.ui-tabs-active {
	padding: 0px;
	background-image: url(img/bg_ui-tabs_active.svg);
	background-repeat: no-repeat;
	background-position: bottom center;
}

div.ui-tabs ul.ui-tabs-dropdown {
	float: left;
	clear: both;
	display: block;
	position: absolute;
	top: -51px;
	/*right: 0;*/
}

div.ui-tabs ul.ui-tabs-dropdown li {
	width: 100%;
	height: auto;
	margin: 0px;
	float: left;
	clear: both;
	display: none;
}

div.ui-tabs ul.ui-tabs-dropdown li.ui-tabs-active {
	display: block;
	padding: 0px;
	background-image: none;
}

div.ui-tabs ul.ui-tabs-dropdown:hover li {
	display: block;
}

div.ui-tabs ul.ui-tabs-dropdown li a {
	text-align: left;
	width: 65%;
	padding: 10px 30% 8px 5%;
	color: #7E7E7E;
	background-color: #e5e5e5;
}

div.ui-tabs ul.ui-tabs-dropdown li a:hover {
	color: #ffffff;
	background-color: #63676B;
}

div.ui-tabs ul.ui-tabs-dropdown li.ui-tabs-active a,
div.ui-tabs ul.ui-tabs-dropdown li.ui-tabs-active a:hover {
	color: #ffffff !important;
	background-color: #f98100;
	background-image: url(img/bg_menu-trigger.svg);
	background-repeat: no-repeat;
	background-position: right center;
}

div.ui-tabs div.ui-tabs-panel {
	width: 100%;
	float: left;
	clear: both;
	padding: 3% 0px 0px 0px;
	margin-top: -12px;
	text-align: left;
	border-top: 2px solid #E5E5E5;
}

div.content-full-width {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

div.content-full-width img {
	width: 100%;
	height: auto;
}

div.content-full-width p {
	margin: 0px;
}

div.content-two-third-left {
	width: 65%;
	margin-right: 5%;
	float: left;
	clear: left;
}

div.content-one-third-right {
	width: 30%;
	float: left;
	clear: right;
}

div.ui-widget,
div.ui-widget-content {
	font-size: 16px;
	color: #7e7e7e;
}

div.call-to-action {
	width: 92%;
	padding: 2% 4%;
	float: left;
	clear: both;
	position: relative;
	background-color: #f1f2f3;
}

div.call-to-action div.csc-header {
	width: 25%;
	float: left;
	clear: left;
}

div.call-to-action h3 {
	margin-bottom: 5px;
}

div.call-to-action p {
	width: 75%;
	float: left;
	clear: none;
	margin: 0px;
}

div.call-to-action p a {
	margin-top: 5px;
	display: inline-block;
	padding: 4px 10px;
	text-decoration: none !important;
	color: #ffffff;
	background-color: #7e7e7e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.call-to-action p a:hover {
	background-color: #f98100;
}

/* NEWSLETTER */

div.newsletter-left {
	width: 20%;
	float: left;
	clear: left;
}

div.newsletter-left h5 {
	font-size: 24px;
}

div.newsletter-left h5 span.subline {
	font-family: 'SSP-SB', Arial, sans-serif;
	font-size: 16px;
	line-height: 140%;
}

div.newsletter-right {
	width: 80%;
	float: left;
	clear: right;
}

div.newsletter-right-top {
	width: 100%;
	float: left;
	clear: both;
}

div.newsletter-right-top p {
	margin-bottom: 10px;
}

div.newsletter-right-bottom {
	width: 100%;
	float: left;
	clear: both;
}

div.newsletter-right-bottom div.editable_content {
	width: 100%;
	float: left;
	clear: both;
}

div.newsletter-right-bottom label {
	font-family: 'SSP-SB', Arial, sans-serif;
	float: left;
	clear: none;
	padding-top: 4px;
}

div.newsletter-right-bottom input[type="text"] {
	width: 250px;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 16px;
	color: #7E7E7E;
	float: left;
	clear: none;
	padding: 6px 10px;
	margin: 0px 5px 0px 5px;
	border: none;
	background-color: #F1F2F3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.newsletter-right-bottom select {
	width: 70px;
	height: 32px;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 16px;
	color: #7E7E7E;
	float: left;
	clear: none;
	padding: 6px 10px;
	margin: 0px 5px 0px 5px;
	border: none;
	background-color: #F1F2F3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: menulist;
}

div.newsletter-right-bottom div.cr_ipe_item {
	float: left;
	clear: none;
	margin-bottom: 5px;
}

div.newsletter-right-bottom div#recaptcha_image {
	width: 140px !important;
	height: 40px !important;
	text-align: center;
	overflow: hidden;
	float: left;
	clear: none;
}

div.newsletter-right-bottom div#recaptcha_image img {
	margin-top: -8px;
	margin-left: -95px;
}

div.newsletter-right-bottom span.recaptcha-reload {
	float: left;
	clear: none;
	display: block;
	margin-right: 10px;
}

div.newsletter-right-bottom input#recaptcha_response_field {
	width: 110px;
	margin-right: 10px;
}

div.newsletter-right-bottom div.submit_container {
	float: right;
	clear: none;
}

div.newsletter-right-bottom button {
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 16px;
	color: #ffffff;
	float: right;
	clear: none;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	background-color: #F98100;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* NEWS */

div.news-list,
div.news-list-short {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 15px;
	position: relative;
}

div.news-list-item {
	width: 100%;
	float: left;
	clear: both;
	padding: 15px 0px;
	position: relative;
	/*border-bottom: 1px solid #e5e5e5;*/
}

div.downloads-list-item {
	width: 50%;
	min-height: 220px;
	clear: none;
	border: none;
}

div.main-right div.news-list-item {
	min-height: auto;
	padding: 15px 0px;
}

div.main-right div.downloads-list-item {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
}

div.main-right div.news-list-item:first-of-type {
	padding-top: 0px;
}

div.news-list-short div.news-list-item {
	margin: 10px 0px;
}

div.news-list-img {
	width: 200px;
	float: left;
	clear: none;
	position: absolute;
	top: 15px;
	left: 0px;
}

div.downloads-list-item div.news-list-img {
	width: 140px;
	position: relative;
	top: auto;
	left: auto;
}

div.main-right div.downloads-list-item div.news-list-img {
	display: none;
}

div.news-list-item img {
	float: left;
	clear: left;
}

div.downloads-list-item img {
	border: 2px solid #e5e5e5;
}

div.news-list-short div.news-list-item img {
	margin-bottom: 0px;
}

div.news-list-text {
	width: 100%;
	float: left;
	clear: both;
	padding-left: 220px;
	position: relative;
	box-sizing: border-box;
}

div.downloads-list-item div.news-list-text {
	width: auto;
	float: none;
	clear: none;
	padding-left: 160px;
}

div.main-right div.downloads-list-item div.news-list-text {
	padding: 0px;
}

div.news-list-item h3,
div.news-list-item h4 {
	margin-bottom: 5px;
}

div.news-list-item p {
	margin: 0px;
}

div.news-list-item a.more {
	margin-top: 10px;
	padding: 4px 10px;
	display: inline-block;
	text-decoration: none !important;
	color: #ffffff;
	background-color: #7e7e7e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.news-list-item a.more:hover {
	background-color: #f98100;
}

span.news-list-category {
	font-size: 14px;
	line-height: 100%;
	color: #63676b;
	background-color: #e5e5e5;
	padding: 2px 4px;
	border-radius: 3px;
	margin-left: 5px;
}

div.page-navigation {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 15px;
	text-align: center;
}

div.page-navigation > p {
	display: none;
}

ul.f3-widget-paginator {
	margin: 0px auto;
	font-size: 18px;
}

div.main ul.f3-widget-paginator li {
	width: 38px;
	height: 38px;
	display: inline-block;
	margin: 0px 4px;
	padding: 0px;
	float: none;
	clear: none;
	background-image: none;
}

div.main ul.f3-widget-paginator li a,
div.main ul.f3-widget-paginator li.current {
	width: 36px;
	height: 30px;
	padding-top: 6px;
	color: #919497;
	display: inline-block;
	border: 2px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -o-transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -moz-transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
}

div.main ul.f3-widget-paginator li a:hover {
	color: #f98100;
	border: 2px solid #f98100;
}

div.main ul.f3-widget-paginator li.current {
	color: #ffffff;
	background-color: #f98100;
	border: 2px solid #f98100;
}

div.news-detail {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 30px;
}

div.detail-head,
div.detail-img,
div.detail-content,
div.detail-social,
div.detail-content-elements {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 15px;
}

div.detail-head h1 {
	margin-bottom: 5px;
}

div.detail-content span.detail-teaser {
	font-family: 'TW-SB', Arial, sans-serif;
}

div.detail-img img {
	width: 100%;
	height: auto;
}

div.downloads-detail div.detail-img img {
	width: auto;
	height: auto;
	border: 2px solid #e5e5e5;
}

div.downloads-detail div.detail-news-img-item {
	float: left;
	clear: none;
	margin: 0px 15px 15px 0px;
}

div.detail-files {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 30px;
}

div.detail-files a {
	margin-top: 10px;
	padding: 4px 10px;
	display: inline-block;
	text-decoration: none !important;
	color: #ffffff;
	background-color: #7e7e7e;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.detail-files a:hover {
	background-color: #f98100;
}

a.news-backtolist {
	margin-top: 10px;
	padding: 4px 10px;
	display: block;
	float: left;
	clear: both;
	text-decoration: none !important;
	color: #ffffff;
	background-color: #f98100;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

a.news-backtolist:hover {
	text-decoration: underline !important;
}

/* SEARCH */

div.main div.tx-kesearch-pi1 {
	width: 100%;
	float: left;
	clear: both;
}

div.main form#xajax_form_kesearch_pi1 {
	float: left;
	clear: both;
	margin-bottom: 30px;
}

div.main div.kesearchbox {
	float: left;
	clear: left;
}

div.main div.kesearchbox input[type="text"] {
	width: 280px;
	height: 28px;
	float: left;
	clear: left;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	color: #75787b;
	padding: 10px 20px;
	border: none;
	background-color: #e5e5e5;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}

div.main div.kesearchbox input[type="submit"] {
	height: 48px;
	float: left;
	clear: right;
	padding: 0px 15px;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	background-color: #808080;
	cursor: pointer;
	border: none;
	-webkit-border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
}

div.main div.kesearchbox input[type="submit"]:hover {
	background-color: #f98100;
}

div.main div#kesearch_filters {
	float: left;
	clear: none;
	margin-left: 20px;
}

div.main div#kesearch_filters select {
	height: 48px;
	float: left;
	clear: left;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	color: #75787b;
	padding: 0px 15px;
	border: none;
	background-color: #e5e5e5;
	-webkit-border-radius: 5px 0px 0px 5px;
	-moz-border-radius: 5px 0px 0px 5px;
	border-radius: 5px 0px 0px 5px;
}

div.search-head {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

div#kesearch_num_results {
	float: left;
	clear: left;
	font-size: 22px;
}

div#kesearch_ordering {
	float: right;
	clear: right;
}

div#kesearch_ordering div.ordering,
div#kesearch_ordering div.ordering ul {
	float: left;
	clear: both;
	font-size: 22px;
}

div.main div#kesearch_ordering div.ordering ul li {
	width: auto;
	float: left;
	clear: none;
	padding: none;
	background-image: none;
	margin-left: 30px;
}

div#kesearch_ordering div.ordering ul li a {
	display: block;
	float: left;
	clear: right;
	color: #808080;
}

div#kesearch_ordering div.ordering ul li a:hover {
	color: #F98100;
}

div#kesearch_ordering div.ordering ul li span.up,
div#kesearch_ordering div.ordering ul li span.down {
	width: 18px;
	height: 18px;
	display: block;
	float: left;
	clear: left;
	margin: 2px 2px 0px 0px;
	background-image: url(img/bg_search-sort.svg);
	background-repeat: no-repeat;
	-moz-background-size: 100% 200%;
	-o-background-size: 100% 200%;
	-webkit-background-size: 100% 200%;
	background-size: 100% 200%;
}

div#kesearch_ordering div.ordering ul li span.up {
	background-position: top left;
}

div#kesearch_ordering div.ordering ul li span.down {
	background-position: bottom left;
}

div#kesearch_results {
	width: 100%;
	float: left;
	clear: both;
}

div.result-list-item {
	width: 96%;
	float: left;
	clear: both;
	padding: 30px 2%;
	margin-bottom: 20px;
	background-color: #efefef;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

div.result-list-item h2 {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 10px;
}

div.result-list-item p {
	width: 100%;
	float: left;
	clear: both;
	margin: 0px;
}

div.result-list-item p span.hit,
div.result-list-item h2 span.hit {
	color: #ffffff;
	padding: 0px 5px;
	display: inline-block;
	background-color: #f98100;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div#kesearch_updating_results {
	display: none;
}

div#kesearch_pagebrowser_bottom {
	width: 100%;
	float: left;
	clear: both;
}

div.result_txt {
	float: left;
	clear: left;
	font-size: 22px;
}

div.kesearch_pagebrowser {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	font-size: 22px;
}

div.main div.kesearch_pagebrowser ul {
	width: auto;
	display: inline-block;
	margin: 0px auto;
	float: none;
	clear: none;
}

div.main div.kesearch_pagebrowser ul li {
	width: auto;
	padding: 0px;
	background-image: none;
	float: left;
	clear: none;
}

div.kesearch_pagebrowser a {
	width: 36px;
	padding: 9px 2px;
	text-align: center;
	display: block;
	float: left;
	clear: none;
	margin: 0px 5px;
	border: 1px solid #ffffff;
	background-color: #ffffff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -o-transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -moz-transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear;
}

div.kesearch_pagebrowser a:hover {
	color: #f98100;
	border: 1px solid #f98100;
}

div.kesearch_pagebrowser a.current,
div.kesearch_pagebrowser a.current:hover {
	color: #ffffff;
	background-color: #f98100;
	border: 1px solid #f98100;
}

div.kesearch_pagebrowser a.next,
div.kesearch_pagebrowser a.prev {
	width: 20px;
	height: 20px;
	text-align: left;
	text-indent: -9999px;
	overflow: hidden;
	border: none;
	padding: 0px;
	margin-top: 10px;
	background-image: url(img/bg_search_pb-arrows.svg);
	background-repeat: no-repeat;
	-moz-background-size: auto 80px;
	-o-background-size: auto 80px;
	-webkit-background-size: auto 80px;
	background-size: auto 80px;
}

div.kesearch_pagebrowser a.prev {
	background-position: 0px 0px;
}

div.kesearch_pagebrowser a.next {
	background-position: 0px -20px;
}

div.kesearch_pagebrowser a.prev:hover {
	background-position: 0px -40px;
}

div.kesearch_pagebrowser a.next:hover {
	background-position: 0px -60px;
}

/* MOBILE-ELEMENTS */

div.top-small {
	width: 100%;
	height: 50px;
	float: left;
	clear: both;
	position: fixed;
	z-index: 999;
	background-color: #ffffff;
	background-repeat: repeat;
	background-position: top left;
	-webkit-box-shadow: 0px 0px 5px 0px #d1d1d1;
	box-shadow: 0px 0px 5px 0px #d1d1d1;
	display: none;
}

div.top-search-content-small {
	display: none;
}

div.top-small-left {
	float: left;
	clear: left;
	margin: 9px 0px 9px 20px;
}

div.top-small-left a.logo {
	width: 151px;
	height: 32px;
	float: left;
	clear: left;
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(img/bg_top-logo.svg);
	background-repeat: no-repeat;
	background-position: top left;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

div.top-small-right {
	height: 50px;
	position: absolute;
	right: 0;
}

div.top-lang {
	width: 50px;
	height: 50px;
	font-family: 'SSP-SB', Arial, sans-serif;
	float: left;
	clear: left;
	overflow: hidden;
	background-color: #ffffff;
	border-left: 1px solid #e5e5e5;
	transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    -moz-transition: width 0.3s linear;
    -webkit-transition: width 0.3s linear;
}

div.top-lang-open {
	width: 200px;
}

span.top-lang-cur {
	width: 50px;
	height: 37px;
	float: left;
	clear: left;
	display: block;
	cursor: pointer;
	padding: 13px 0px 0px 0px;
}

div.top-lang-open span.top-lang-cur {
	width: 36px;
	padding-left: 40px;
	background-image: url(img/bg_top-lang-cur.svg);
	background-repeat: no-repeat;
	background-position: 16px center;
	-moz-background-size: 16px 16px;
	-o-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
}

div.top-lang-open span.top-lang-cur:hover {
	background-image: url(img/bg_top-lang-cur_hover.svg);
}

div.top-lang-items {
	height: 37px;
	float: left;
	clear: right;
	padding: 13px 0px 0px 0px;
}

div.top-lang-items a {
	float: left;
	clear: none;
	color: #7e7e7e;
	padding: 0px 10px;
	display: block;
}

div.top-lang-items a:hover {
	color: #f98100;
}

div.top-small-right a.open-small-menu {
	width: 50px;
	height: 50px;
	display: block;
	float: left;
	clear: right;
	text-indent: -9999px;
	overflow: hidden;
	border-left: 1px solid #e5e5e5;
	background-image: url(img/bg_top-small-right.svg);
	background-repeat: no-repeat;
	background-position: top left;
	-moz-background-size: 100px 100px;
	-o-background-size: 100px 100px;
	-webkit-background-size: 100px 100px;
	background-size: 100px 100px;
}

div.top-small-right a:hover {
	background-position: top right;
}

body.side-menu-right-open div.top-small-right a {
	background-position: bottom left;
}

body.side-menu-right-open div.top-small-right a:hover {
	background-position: bottom right;
}

div#side-menu-right,
div.sidr {
	width: 240px;
	height: 100%;
	padding: 0px 15px;
	text-align: left;
	display: none;
	position: fixed;
	-webkit-overflow-scrolling: touch;
	top: 0;
	z-index: 999999;
	overflow-x: none;
	overflow-y: auto;
	background-color: #f0f0f0;
	background-image: url(img/bg_side-menu-right.svg);
	background-repeat: repeat-y;
	background-position: top left;
	-moz-background-size: 100% 1px;
	-o-background-size: 100% 1px;
	-webkit-background-size: 100% 1px;
	background-size: 100% 1px;
}

div.sidr.right {
	left: auto;
	right: -300px;
}

div.side-menu-head {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	margin: 20px 0px;
}

div.side-menu-head a {
	width: 200px;
	height: 42px;
	display: block;
	margin: 0px auto;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url(img/bg_top-logo.svg);
	background-repeat: no-repeat;
	background-position: top left;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

div.sidr.right div.intive {
	width: 200px;
	height: 23px;
	float: none;
	clear: none;
	margin: 0px auto;
}

div.side-menu-search {
	width: 100%;
	float: left;
	clear: both;
	margin: 20px 0px;
}

div.side-menu-search input[type="text"] {
	width: 130px;
	height: 40px;
	padding: 0px 90px 0px 10px;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	color: #8d8f92;
	float: left;
	clear: left;
	margin: 5px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #ffffff;
}

div.side-menu-search input[type="submit"] {
	height: 32px;
	padding: 0px 10px;
	font-family: 'SSP-R', Arial, sans-serif;
	font-size: 18px;
	color: #ffffff;
	float: right;
	clear: right;
	margin: 9px 9px 9px -100px;
	border: none;
	cursor: pointer;
	background-color: #f98100;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.side-menu-search div#kesearch_filters {
	display: none;
}

div.side-menu-main {
	width: 100%;
	float: left;
	clear: both;
}

ul.side-nav-main {
	width: 100%;
	float: left;
	clear: both;
	display: block;
}

ul.side-nav-main > li {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

ul.side-nav-main > li > a {
	font-family: 'TW-SB', Arial, sans-serif;
	font-size: 24px;
	color: #8d8f92;
}

ul.side-nav-main > li > a:hover,
ul.side-nav-main > li.current > a {
	color: #f98100;
}

ul.side-nav-sek > li {
	width: 95%;
	float: left;
	clear: both;
	padding-top: 3px;
	margin-left: 5%;
}

ul.side-nav-sek > li > a {
	font-family: 'TW-L', Arial, sans-serif;
	font-size: 18px;
	color: #8d8f92;
}

ul.side-nav-sek > li > a:hover,
ul.side-nav-sek > li.current > a {
	color: #f98100;
}

div.job-banner-wide {
	width: 100%;
	float: left;
	clear: both;
	position: relative;
	padding: 100px 4% 30px 240px;
	color: #ffffff;
	box-sizing: border-box;
	background-color: #8e9093;
	background-image: url(img/job-banner-wide.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left 5% center;
}

span.job-banner-title {
	display: block;
	float: left;
	clear: left;
	font-size: 20px;
}

span.job-banner-title b {
	font-family: 'TW-SB', Arial, sans-serif;
	font-size: 24px;
}

div.job-banner-wide a {
	margin-top: -4px;
	padding: 4px 10px;
	display: block;
	float: right;
	clear: right;
	text-decoration: none !important;
	color: #ffffff;
	background-color: #f98100;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

div.main ul.tab-menu {
	width: 100%;
	float: left;
	clear: both;
	font-family: 'TW-SB';
	font-size: 20px;
	line-height: 100%;
	text-transform: uppercase;
	margin: 30px 0px;
}

div.main ul.tab-menu > li {
	width: 50%;
	float: left;
	clear: none;
	margin: 0px;
	text-align: center;
	background-image: none;
	padding: 0px;
	box-sizing: border-box;
}

div.main ul.tab-menu > li {
	border-left: 2px solid #bfbfbf;
	border-bottom: 2px solid #bfbfbf;
}

div.main ul.tab-menu > li:first-child {
	border-left: 0px;
}

div.main ul.tab-menu > li:first-child.current {
	border-left: 2px solid #bfbfbf;
	border-top: 2px solid #bfbfbf;
	border-bottom: 0px;
}

div.main ul.tab-menu > li:last-child.current {
	border-right: 2px solid #bfbfbf;
	border-top: 2px solid #bfbfbf;
	border-bottom: 0px;
}

div.main ul.tab-menu > li > a {
	width: 100%;
	display: block;
	float: left;
	clear: none;
	padding: 20px 0px;
}

div.main ul.tab-menu > li.current > a {
	color: #f98100;
}

div.align-center {
	max-width: 900px;
	margin: 0px auto;
}

div.presse-item {
	width: 33.3333333333%;
	float: left;
	clear: none;
	padding: 20px 20px 0px 0px;
	box-sizing: border-box;
}

div.presse-item div.csc-textpic {
	width: 100%;
	float: left;
	clear: both;
	background-color: #f1f2f3;
}

div.presse-item div.csc-textpic-imagewrap {
	width: 45%;
	float: left;
	clear: left;
	margin: 0px !important;
}

div.presse-item figure {
	width: 100%;
	float: left;
	clear: none;
	margin: 0px !important;
	display: block !important;
}

div.presse-item figure img {
	width: 100%;
	height: auto;
	float: left;
	clear: none;
}

div.presse-item div.csc-textpic-text {
	width: 55%;
	float: left;
	clear: right;
	padding: 15px;
	margin: 0px !important;
	box-sizing: border-box;
}

div.presse-item div.csc-textpic-text p {
	margin: 0px;
}

div.presse-item div.csc-textpic-text h1,
div.presse-item div.csc-textpic-text h2,
div.presse-item div.csc-textpic-text h3,
div.presse-item div.csc-textpic-text h4,
div.presse-item div.csc-textpic-text h5 {
	color: #f98100;
}

div.presse-item div.csc-textpic-text a {
	text-decoration: none !important;
}

div.csc-col-50 {
	width: 50%;
	float: left;
	clear: none;
	padding-right: 20px;
	box-sizing: border-box;
}

div.ansprechpartner-item {
	width: 50%;
	float: left;
	clear: none;
	box-sizing: border-box;
}

div.ansprechpartner-item div.csc-textpic {
	width: 100%;
	float: left;
	clear: both;
	background-color: #f1f2f3;
}

div.ansprechpartner-item div.csc-textpic-imagewrap {
	width: 40%;
	float: left;
	clear: left;
	margin: 0px !important;
}

div.ansprechpartner-item figure {
	width: 100%;
	float: left;
	clear: none;
	margin: 0px !important;
	display: block !important;
}

div.ansprechpartner-item figure img {
	width: 100%;
	height: auto;
	float: left;
	clear: none;
}

div.ansprechpartner-item div.csc-textpic-text {
	width: 60%;
	float: left;
	clear: right;
	padding: 15px;
	margin: 0px !important;
	box-sizing: border-box;
}

div.ansprechpartner-item div.csc-textpic-text p {
	margin: 0px;
}

div.ansprechpartner-item div.csc-textpic-text h1,
div.ansprechpartner-item div.csc-textpic-text h2,
div.ansprechpartner-item div.csc-textpic-text h3,
div.ansprechpartner-item div.csc-textpic-text h4,
div.ansprechpartner-item div.csc-textpic-text h5 {
	color: #f98100;
}

div.job-filters {
	width: 30%;
	float: left;
	clear: left;
}

div.job-filters h1,
div.job-filters h2,
div.job-filters h3,
div.job-filters h4,
div.job-filters h5 {
	margin-bottom: 10px;
}

div.job-filters p {
	font-size: 14px;
	line-height: 130%;
	color: #919497;
}

div.filter-set {
	width: 100%;
	float: left;
	clear: both;
	margin-bottom: 20px;
}

div.filter-set input[type="checkbox"] {
	width: 22px;
	height: 22px;
	display: block;
	float: left;
	clear: left;
	margin-right: 5px;
	appearance: none;
	background-image: url(img/filter-set-inactive.svg);
	background-position: 0px 0px;
	outline: none;
	cursor: pointer;
}

div.filter-set label {
	width: 100%;
	float: left;
	clear: both;
	display: block;
	cursor: pointer;
	margin-bottom: 4px;
}

div.filter-set input[type="checkbox"]:checked {
	background-image: url(img/filter-set-active.svg);
}

div.filter-set label.checked {
	color: #f98100;
}

div.main ul.filter-set li {
	min-height: 22px;
	cursor: pointer;
	padding-left: 28px;
	background-image: url(img/filter-set-inactive.svg);
	background-size: 22px 22px;
	background-position: 0px 0px;
}

div.main ul.filter-set li.active {
	color: #f98100;
	background-image: url(img/filter-set-active.svg);
}

div.job-list {
	width: 70%;
	float: left;
	clear: right;
}

div.job-item {
	width: 100%;
	float: left;
	clear: both;
	padding: 10px 15px;
	box-sizing: border-box;
	background-color: #f1f2f3;
	border-radius: 5px;
	margin-bottom: 5px;
	position:relative;
}

div.job-item-table {
	width: 100%;
	display: table;
}

div.job-id {
	width: 70px;
	padding-top: 2px;
	display: table-cell;
	vertical-align: top;
}

div.job-title {
	font-family: 'TW-SB', Arial, sans-serif;
	display: table-cell;
	vertical-align: top;
}

div.job-links {
	width: 68px;
	display: table-cell;
	vertical-align: top;
}

div.job-links a {
	width: 24px;
	height: 24px;
	float: left;
	clear: none;
	display: block;
	text-indent: -999px;
	overflow: hidden;
	margin-left: 10px;
	background-image: url(img/job-links.svg);
	background-size: 48px 48px;
}

div.job-links a.detail {
	background-position: top left;
}

div.job-links a.detail:hover {
	background-position: top right;
}

div.job-links a.file {
	background-position: bottom left;
}

div.job-links a.file:hover {
	background-position: bottom right;
}

div.job-button {
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	margin-top: 20px;
}

div.job-button a {
	margin: 0px 5px;
}

div.job-button a:hover {
	text-decoration: underline !important;
}

div.jobs-detail div.ansprechpartner-item div.csc-textpic-imagewrap {
	width: 30%;
}

div.jobs-detail div.ansprechpartner-item div.csc-textpic-text {
	width: 70%;
}

div.jobs-detail div.ansprechpartner-item div.csc-textpic-text h1,
div.jobs-detail div.ansprechpartner-item div.csc-textpic-text h2,
div.jobs-detail div.ansprechpartner-item div.csc-textpic-text h3,
div.jobs-detail div.ansprechpartner-item div.csc-textpic-text h4,
div.jobs-detail div.ansprechpartner-item div.csc-textpic-text h5 {
	margin: 15px 0px 0px 0px;
}

div.xing-bewerbung {
	width: 50%;
	float: left;
	clear: right;
	box-sizing: border-box;
	border-left: 20px solid #ffffff;
	background-color: #026466;
	background-image: url(img/xing-bewerbung.jpg);
	background-size: auto 100%;
	background-position: right center;
	background-repeat: no-repeat;
}

div.xing-bewerbung-content {
	width: 50%;
	float: left;
	clear: none;
	padding: 30px 80px 33px 30px;
	background-image: url(img/xing-bewerbung-content.svg);
	background-size: auto 100%;
	background-position: right center;
	background-repeat: no-repeat;
	box-sizing: border-box;
}

div.xing-bewerbung h1,
div.xing-bewerbung h2,
div.xing-bewerbung h3,
div.xing-bewerbung h4,
div.xing-bewerbung h5,
div.xing-bewerbung p {
	color: #ffffff;
}

div.xing-bewerbung p {
	margin: 0px;
}

div.xing-bewerbung p a {
	font-family: 'SSP-SB', Arial, sans-serif;
	margin-top: 10px;
   padding: 4px 10px;
   display: inline-block;
   text-decoration: none !important;
   color: #026466;
   background-color: #b8d131;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

div.xing-bewerbung p a:hover {
	background-color: #ffffff;
}

div.tx-powermail {
	width: 100%;
	float: left;
	clear: both;
}

div.tx-powermail legend {
	display: none;
}

div.tx-powermail fieldset {
	width: 50%;
	float: left;
	clear: none;
	border: none;
	box-sizing: border-box;
}

div.tx-powermail fieldset fieldset {
	width: 100%;
}

div.tx-powermail fieldset.powermail_fieldset_1 {
	padding-right: 3px;
}

div.tx-powermail fieldset.powermail_fieldset_2 {
	padding-left: 3px;
}

div.tx-powermail fieldset.powermail_fieldset_3 {
	width: 100%;
	clear: both;
}

div.tx-powermail div.powermail_fieldwrap.nolabel label {
	display: none;
}

div.tx-powermail div.powermail_fieldwrap {
	width: 100%;
	float: left;
	clear: none;
	padding: 3px 0px;
	position: relative;
}

div.tx-powermail input[type="text"],
div.tx-powermail input[type="email"],
div.tx-powermail textarea {
	width: 100%;
   font-family: 'SSP-R', Arial, sans-serif;
   font-size: 16px;
   color: #4d4d4d;
   float: left;
   clear: right;
   border: none;
   padding: 12px;
   background-color: #f1f2f3;
   outline: none;
   border-radius: 5px;
   box-sizing: border-box;
}

div.tx-powermail input[type="checkbox"] {
	-webkit-appearance: checkbox !important;
	appearance: checkbox !important;
}

div.tx-powermail textarea {
	width: 100%;
	min-width: 100%;
	max-width: 100%;
	height: 295px;
	min-height: 295px;
	max-height: 295px;
}

ul.parsley-errors-list {
	float: left;
	clear: both;
	display: block;
}

ul.parsley-errors-list li {
	width: auto !important;
	padding: 5px 8px !important;
	color: #ffffff;
	font-size: 14px;
	line-height: 120%;
	background-image: none !important;
	background-color: #f98100;
	position: absolute;
	top: 12px;
	right: 6px;
	border-radius: 3px;
}

div.tx-powermail input[type="submit"] {
	font-family: 'SSP-SB', Arial, sans-serif;
	font-size: 18px;
	border: none;
	margin-top: 10px;
	padding: 8px 16px;
	float: right;
	clear: right;
	display: block;
	text-decoration: none !important;
	color: #ffffff;
	background-color: #7e7e7e;
	border-radius: 5px;
	cursor: pointer;
}

div.tx-powermail input[type="submit"]:hover {
	background-color: #f98100;
}

div.job-list-top-wrapper {
	width: 109%;
	float: left;
	clear: both;
	padding: 40px;
	margin: 60px -4.5% 60px -4.5%;
	background-color: #f98100;
	background-image: url(img/job-list-top.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	box-sizing: border-box;
}

div.job-list-top-headline {
	display: block;
	float: left;
	clear: both;
	padding: 12px 15px;
	background-color: #ffffff;
	border-radius: 5px;
}

div.job-list-top-headline h1,
div.job-list-top-headline h2,
div.job-list-top-headline h3,
div.job-list-top-headline h4,
div.job-list-top-headline h5 {
	color: #f98100;
	margin: 0px;
}

div.job-list-top {
	width: 100%;
	float: left;
	clear: both;
	margin-top: 10px;
}

div.job-list-top div.job-item {
	background-color: #ffffff;
}

/* MEDIA-QUERIES */

@media screen and (max-width:1920px) {
	.cc_container {max-width:1200px !important;}
	.cc_message {margin-top:0px !important;}
	div.center {width:1200px;}
	ul.nav-main > li {margin-right:30px;}
	ul.nav-main > li:first-of-type {display:none;}
	h1 {font-size:32px;}
	h2 {font-size:28px;}
	h3 {font-size:24px;}
	h4 {font-size:18px;}
	h5 {font-size:18px;}
	div.jobs-banner h4 span.subline {text-transform:none;}
	div.newsletter-right-bottom input[type="text"] {width:200px;}
	div.teaser-slider div.bx-caption h2 {font-size:38px;}
	div.presse-item {width:50%;}
	div.xing-bewerbung-content {width:60%; padding:18px 60px 20px 18px;}
}

@media screen and (max-width:1600px) {
	.cc_container {max-width:1000px !important;}
	div.center {width:1000px;}
	ul.nav-main > li:first-of-type {display:none;}
	ul.nav-main > li > a {text-transform:none;}
	div.head {padding:15px 0px;}
	div.main {padding:2% 4%;}
	div.footer-right {width:70%;}
	div.newsletter-left, div.newsletter-right {width:100%; clear:both;}
	div.newsletter-left h5 span.subline {font-size:24px; display: inline;}
	div.main-right div.leistungsspektrum ul {text-transform:none;}
	div.jobs-banner h4 span.subline {font-size:18px;}
	div.kontakt-karte {width:100%; margin-right:0px; clear:both;}
	div.call-to-action div.csc-header {width:30%;}
	div.call-to-action p {width:70%;}
	div.jobs-banner h4 span.subline {font-size:16px;}
	div.newsletter-right-bottom input[type="text"] {width:220px;}
	div.job-banner-wide {padding:40px 4% 40px 250px;}
	div.job-banner-wide a {margin-top:10px; float:left; clear:both;}
	div.teaser-slider div.bx-caption h2 {font-size:32px;}
	div.teaser-slider div.bx-caption p, div.teaser-slider div.bx-caption a {font-size:16px;}
	div.teaser div.bx-controls {bottom:20px;}
	div.xing-bewerbung {background-position: 120px 0px;}
	div.xing-bewerbung-content {width:60%; padding:20px 60px 40px 20px;}
}

@media screen and (max-width:1200px) {
	.cc_container {max-width:100% !important;}
	div.center {width:100%;}
	div.newsletter-right-bottom input[type="text"] {width:240px;}
	div.xing-bewerbung {background-position: right -60px center;}
	div.xing-bewerbung-content {width:60%; padding:20px 60px 15px 20px;}
}

@media screen and (max-width:1050px) {
	.cc_container {max-width:100% !important; padding:10px !important;}
	div.top-left, div.head-left {margin-left:10px;}
	div.top-right, div.head-right {margin-right:10px;}
	div.menu-left {padding-left:10px;}
	div.main div.kundenstatements li {width:86%;}
	div.testimonial-txt h1, div.testimonial-txt h2, div.testimonial-txt h3, div.testimonial-txt h4, div.testimonial-txt h5 {font-size:24px;}
}

@media screen and (max-width:960px) {
	ul.nav-main > li {margin-right:25px;}
	div.jobs-banner h4 span.subline {display:none;}
	div.main-right div.leistungsspektrum ul li a {width:88%; padding-left:12%;}
	div.standort-left, div.standort-right {width:100%; clear:both; margin:0px 0px 30px 0px;}
	div.standort-left div.csc-textpic-imagewrap, div.standort-right div.csc-textpic-imagewrap {width:39%; margin-right:1%; float:left; clear:left;}
	div.standort-left div.csc-textpic-text, div.standort-right div.csc-textpic-text {width:59%; margin-left:1%; float:left; clear:right;}
	div.call-to-action div.csc-header span.subline {display:inline;}
	div.call-to-action div.csc-header, div.call-to-action p {width:100%;}
	div.newsletter-right-bottom input[type="text"] {width:180px;}
	div.presse-item div.csc-textpic-imagewrap {width:40%;}
	div.presse-item div.csc-textpic-text {width:60%; padding:10px;}
}

@media screen and (max-width:880px) {
	ul.nav-main > li {margin-right:20px;}
	div.main-left, div.main-right {width:100%; clear:both; margin-bottom:10px;}
	div.jobs-banner h4 span.subline {display:inline; font-size:20px;}
	div.main-right div.leistungsspektrum ul li {width:100%; margin-right:0%; clear:both;}
	div.main-right div.leistungsspektrum ul li a {width:100%; padding-left:28px; box-sizing:border-box;}
	div.main div.csc-textpic {width:100%;}
	div.main div.csc-textpic div.csc-textpic-imagewrap {float:left; clear:left; width:49%; margin-right:1%;}
	div.main div.csc-textpic div.csc-textpic-imagewrap img {width:100%; height:auto;}
	div.main div.csc-textpic div.csc-textpic-text {float:left; clear:right; width:49%; margin-left:1%;}
	div.main div.content-full-width div.csc-textpic div.csc-textpic-imagewrap {clear:left; width:100%; margin-right:0%;}
	div.standort-left div.csc-textpic-imagewrap, div.standort-right div.csc-textpic-imagewrap {width:39% !important;}
	div.standort-left div.csc-textpic-text, div.standort-right div.csc-textpic-text {width:59% !important;}
	div.main div.kundenlogos div.csc-textpic div.csc-textpic-imagewrap, div.main div.team-gallery div.csc-textpic div.csc-textpic-imagewrap {width:auto; clear:none; margin:0px;}
	div.main div.kundenlogos div.csc-textpic div.csc-textpic-imagewrap img, div.main div.team-gallery div.csc-textpic div.csc-textpic-imagewrap img {width:auto;}
	div.downloads {margin-top:10px;}
	div.main div.testimonial-img div.csc-textpic div.csc-textpic-imagewrap {width:100%; margin:0px;}
	div.testimonial-img-corner {right:-20px;}
	div.testimonial-img-corner-item {width:40px; height:40px; margin-top:-20px;}
	div.teaser-slider div.bx-caption {bottom:40px; left:20px;}
	div.presse-item {width:100%; clear:both; padding-right:0px;}
	div.presse-item div.csc-textpic-imagewrap {width:30% !important;}
	div.presse-item div.csc-textpic-text {width:70% !important; padding:20px;}
	div.xing-bewerbung {width:100%; margin-top:20px; border:none; background-position: right center;}
	div.xing-bewerbung-content {width:40%; padding:20px; background-image:none; background-color:#026466;}
}

@media screen and (max-width:850px) {
	ul.nav-main > li > a {font-size:17px;}
	ul.nav-main > li {margin-right:15px;}
	div.main div.kundenstatements li {width:85%;}
	/*div.newsletter-right-bottom div.cr_ipe_item {padding-bottom:20px;}*/
	div.newsletter-right-bottom input#text3372709 {width:472px;}
	div.content-two-third-left {width:100%; margin:0px; clear:both;}
	div.content-one-third-right {width:100%; margin:20px 0px 30px 0px; clear:both;}
	div.content-one-third-right ul {width:100%; float:left; clear:both;}
	div.content-one-third-right ul li {width:45%; float:left; clear:none;}
	div.csc-col-50 {width:100%; clear:both;padding-right:0px; padding-bottom:20px;}
	div.ansprechpartner-item {width:100%; clear:both;}
	div.ansprechpartner-item div.csc-textpic-imagewrap, div.job-detail div.ansprechpartner-item div.csc-textpic-imagewrap {width:30% !important;}
	div.ansprechpartner-item div.csc-textpic-text, div.job-detail div.ansprechpartner-item div.csc-textpic-text {width:70% !important; padding:20px;}
}

@media screen and (max-width:790px) {
	ul.nav-main > li {margin-right:15px;}
	div.standort-left, div.standort-right {margin-bottom:40px;}
	div.standort-left div.csc-textpic-imagewrap, div.standort-right div.csc-textpic-imagewrap {width:100% !important; clear:both; margin:0px;}
	div.standort-left div.csc-textpic-text, div.standort-right div.csc-textpic-text {width:100% !important; clear:both; margin:0px 0px 0px 0px;}
	div.testimonial-txt h1, div.testimonial-txt h2, div.testimonial-txt h3, div.testimonial-txt h4, div.testimonial-txt h5 {font-size:20px;}
	div.testimonial-txt p {line-height:120%;}
}

@media screen and (max-width:770px) {
	div.bg-teaser {margin-top:50px;}
	div.bg-top, div.bg-head, div.bg-menu, div.bg-footer, div.bottom-left span.bottom-copyright {display:none;}
	div.top-small, div.top-search-content-small, div.bottom-left span.pre-social, div.bottom-left a.social-item {display:block;}
	div.further-item {width:100%; margin:0% 0% 15px 0%;}
	div.further-item div.csc-textpic-imagewrap {width:48% !important; margin-right:2%; float:left; clear:left;}
	div.further-item div.csc-textpic-text {width:50%; float:left; clear:right;}
	div.main div#kesearch_filters {clear:both; margin:10px 0px 0px 0px;}
	div.result-list-item {width:90%; padding:30px 5%;}
	/*div.news-list-item {padding-bottom:15px; border-bottom:2px solid #E5E5E5;}
	div.news-list-item img {width:150px; height:auto;}*/
	div.bulletpoints-left, div.bulletpoints-right {width:100%; clear:both; margin:0px;}
	div.bulletpoints-left {margin-bottom:30px;}
	div.call-to-action {width:90%; padding:5%;}
	div.teaser-slider div.bx-caption {width:100%; bottom:auto; left:auto; padding:15px; background-color:#F98100; position:relative;}
	div.teaser-slider div.bx-caption h2, div.teaser-slider div.bx-caption p, div.teaser-slider div.bx-caption a {background-color:transparent; padding:0px; color:#ffffff;}
	div.teaser-slider div.bx-caption h2 {margin-bottom:0px;}
	div.downloads-list-item {width:100%; float:left; clear:both; min-height:auto; padding:15px 0px;}
	div.job-filters, div.job-list {width:100%; clear:both;}
	div.filter-set {width:50%; float:left; clear:none; display:block;}
	div.job-list-top-wrapper {padding:30px;}
}

@media screen and (max-width:640px) {
	div.main-right div.leistungsspektrum ul li {width:100%; margin-right:0%; clear:both;}
	div.main div.csc-textpic div.csc-textpic-imagewrap {clear:both; width:100%; margin:0px;}
	div.main div.csc-textpic div.csc-textpic-text {clear:both; width:100%; margin:0px;}
	div.main div.kundenlogos div.csc-textpic div.csc-textpic-imagewrap, div.main div.team-gallery div.csc-textpic div.csc-textpic-imagewrap {width:auto; clear:none; margin:0px;}
	div.main div.kundenlogos div.csc-textpic div.csc-textpic-imagewrap img {width:auto;}
	div.kontakt-karte div.csc-textpic-text {width:94%; padding:0px 3% 10px 3%;}
	div.main div.kundenstatements li {width:84%;}
	div.main div.three-col-list ul {width:100% !important; clear:both; margin:0px;}
	div.newsletter-right-bottom div.cr_ipe_item {width:100%; float:left; clear:both; margin:5px 0px;}
	div.newsletter-right-bottom input[type="text"] {width:100% !important; box-sizing: border-box;}
	div.newsletter-right-bottom div.submit_container {width:100%; float:left; clear:both;}
	div.testimonial-img {width:100%; display:block;}
	div.testimonial-txt {width:90%; padding:20px 5%; display:block;}
	div.testimonial-txt h1, div.testimonial-txt h2, div.testimonial-txt h3, div.testimonial-txt h4, div.testimonial-txt h5 {font-size:28px;}
	div.testimonial-txt p {line-height:150%;}
	div.testimonial-img-corner {top:auto; left:50%; bottom:-20px;}
	div.testimonial-img-corner-item {margin-top:0px; margin-left:-20px;}
	div.testimonial-wrapper {padding-top:30px;}
	div.testimonial-wrapper div.bx-controls {top:5px; text-align:center;}
	div.testimonial-wrapper div.bx-pager {margin:0px auto; float:none; display:inline-block;}
	div.main div.team-gallery div.csc-textpic div.csc-textpic-imagewrap img {width:200px; height:auto;}
	div.ui-tabs ul.ui-tabs-dropdown {width:100%; top:-50px;}
	div.ui-tabs ul.ui-tabs-dropdown li a {width:65%; padding:10px 30% 8px 5%;}
	div.content-one-third-right {margin-top:0px;}
	div.content-one-third-right ul li {width:90%; clear:both;}
	div.job-banner-wide {padding:20px 2% 20px 160px; background-position:left -5px center;}
	div.teaser-slider div.bx-caption {padding:15px 15px 40px 15px;}
	div.teaser div.bx-controls {bottom:14px; background-color:#F98100;}
	div.teaser div.bx-pager-item a {background-color:#ffffff; background-color:rgba(255,255,255,0.4);}
	div.teaser div.bx-pager-item a.active, div.teaser div.bx-pager-item a.active:hover {background-color:#ffffff;}
	div.presse-item div.csc-textpic-imagewrap {width:40% !important;}
	div.presse-item div.csc-textpic-text {width:60% !important; padding:15px; clear:right !important;}
	div.ansprechpartner-item div.csc-textpic-imagewrap, div.job-detail div.ansprechpartner-item div.csc-textpic-imagewrap {width:40% !important; clear:left !important;}
	div.ansprechpartner-item div.csc-textpic-text, div.job-detail div.ansprechpartner-item div.csc-textpic-text {width:60% !important; clear:right !important;}
	div.xing-bewerbung {padding-bottom:50%; background-size:100% auto; background-position:bottom left;}
	div.xing-bewerbung-content {width:100%; padding:20px; background-image:none; background-color:#026466;}
	div.tx-powermail fieldset {width:100%; clear:both;}
	div.tx-powermail textarea {height:120px; min-height:120px; max-height:120px;}
}

@media screen and (max-width:520px) {
	h1 {font-size:32px;}
	h2 {font-size:28px;}
	h3 {font-size:24px;}
	h4 {font-size:18px;}
	h5 {font-size:18px;}
	div.job-banner-wide {padding:40px 4%; background-image:url(img/job-banner-wide-transparent.svg); background-position:right 4% center; background-size:auto 100%;}
	span.job-banner-title b {font-size:28px; display:block; padding-bottom:10px;}
	div.news-list-img {width:100%; position:relative; top:auto; left:auto; clear:both;}
	div.news-list-text {clear:both; padding:0px; margin-top:10px;}
	div.news-list-item:first-of-type {padding-top:0px;}
	div.downloads-detail div.detail-news-img-item {clear:both;}
	div.downloads-detail div.detail-img h1, div.downloads-detail div.detail-img p {float:left; clear:both; margin:0px;}
	div.job-list-top-wrapper {padding:20px;}
}

@media screen and (max-width:460px) {
	div.bottom-left span.pre-social {display:none;}
	div.top-small-lang-open div.top-small-left a.logo {width:32px; -moz-background-size:151px 32px; -o-background-size:151px 32px; -webkit-background-size:151px 32px; background-size:151px 32px;}
	div.main div.kesearchbox input[type="text"] {width:150px;}
	div.standort-left p, div.standort-right p {width:100%; clear:both;}
	div.main div.kundenlogos div.csc-textpic div.csc-textpic-imagewrap img {width:140px; height:auto;}
	div.main div.kundenstatements li {width:82%;}
	div.further-item p b {font-size:20px;}
	div.testimonial-txt h1, div.testimonial-txt h2, div.testimonial-txt h3, div.testimonial-txt h4, div.testimonial-txt h5 {font-size:24px;}
	div.main div.team-gallery div.csc-textpic div.csc-textpic-imagewrap img {width:100%; height:auto;}
	span.job-banner-title {font-size:16px;}
	span.job-banner-title b {font-size:24px; padding-bottom:5px;}
	div.teaser-slider div.bx-caption h2 {font-size:24px; float:none; clear:none; display:inline-block;}
	div.teaser-slider div.bx-caption {width:100%; position:relative; bottom:0px; padding:10px 20px; font-size:20px; text-align:center;}
	div.teaser-slider div.bx-caption p, div.teaser-slider div.bx-caption a {float:none; clear:none; display:inline-block;}
	div.teaser-slider div.bx-caption a {width:100%; display:block; text-align:center;}
	div.teaser div.bx-controls {bottom:auto; top:10px; background-color:transparent;}
	div.downloads-list-item div.news-list-img {width:100px;}
	div.downloads-list-item div.news-list-img img {width:100%; height:auto;}
	div.downloads-list-item div.news-list-text {padding-left:115px;}
	div.presse-item div.csc-textpic-imagewrap {width:40% !important;}
	div.presse-item div.csc-textpic-text {width:60% !important; padding:10px; clear:right !important;}
	div.presse-item div.csc-textpic-text h1, div.presse-item div.csc-textpic-text h2, div.presse-item div.csc-textpic-text h3, div.presse-item div.csc-textpic-text h4, div.presse-item div.csc-textpic-text h5 {font-size:20px;}
	div.presse-item div.csc-textpic-text p {font-size:14px; line-height:130%;}
	div.filter-set {width:100%;}
	div.job-id, div.job-title {width:100%; float:left; clear:both; display:block;}
	div.job-title {padding-right:40px; box-sizing:border-box;}
	div.job-links {width:24px; display:block; position:absolute; top:10px; right:10px;}
	div.job-links a {margin:0px 0px 10px 0px;}
	div.ansprechpartner-item div.csc-textpic-imagewrap, div.job-detail div.ansprechpartner-item div.csc-textpic-imagewrap, div.ansprechpartner-item div.csc-textpic-text, div.job-detail div.ansprechpartner-item div.csc-textpic-text {width:100% !important; clear:both !important;}
	div.xing-bewerbung {padding:0px; background-image:none;}
}

@media screen and (max-width:340px) {
	h1 {font-size:28px;}
	h2 {font-size:24px;}
	h3 {font-size:22px;}
	h4 {font-size:20px;}
	h5 {font-size:18px;}
	div.jobs-banner h4 span.subline {font-size:16px;}
}