/* default styles for extension "tx_indexedsearch" */
		.tx-indexedsearch .tx-indexedsearch-browsebox LI { display:inline; margin-right:5px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-button { width:100px; }
		.tx-indexedsearch .tx-indexedsearch-searchbox INPUT.tx-indexedsearch-searchbox-sword { width:150px; }
		.tx-indexedsearch .tx-indexedsearch-whatis { margin-top:10px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-whatis .tx-indexedsearch-sw { font-weight:bold; font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-noresults { text-align:center; font-weight:bold; }
		.tx-indexedsearch .tx-indexedsearch-res TD.tx-indexedsearch-descr { font-style:italic; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-descr .tx-indexedsearch-redMarkup { color:red; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-info { background:#eeeeee; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead { margin-top:20px; margin-bottom:5px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead H2 { margin-top:0px; margin-bottom:0px; }
		.tx-indexedsearch .tx-indexedsearch-res .tx-indexedsearch-secHead TD { background:#cccccc; vertical-align:middle; }
		.tx-indexedsearch .tx-indexedsearch-res .noResume { color:#666666; }
		.tx-indexedsearch .tx-indexedsearch-category { background:#cccccc; font-size:16px; font-weight:bold; }

		/* Additional styles, needed for the tableless template_css.tmpl (styles don't conflict with the original template) */
		.tx-indexedsearch .res-tmpl-css { clear:both; margin-bottom:1em; }
		.tx-indexedsearch .searchbox-tmpl-css LABEL { margin-right:1em; width:10em; float:left; }
		.tx-indexedsearch .result-count-tmpl-css, .tx-indexedsearch .percent-tmpl-css { letter-spacing:0; font-weight:normal; margin-top:-1.2em; float:right; }
		.tx-indexedsearch .info-tmpl-css dt, .tx-indexedsearch dl.info-tmpl-css dd { float:left; }
		.tx-indexedsearch .info-tmpl-css dd.item-mtime { float:none; }
		.tx-indexedsearch .info-tmpl-css dd.item-path { float:none; }
/* default styles for extension "tx_frontend" */
	.ce-align-left { text-align: left; }
	.ce-align-center { text-align: center; }
	.ce-align-right { text-align: right; }

	.ce-table td, .ce-table th { vertical-align: top; }

	.ce-textpic, .ce-nowrap .ce-bodytext, .ce-gallery, .ce-row, .ce-uploads li, .ce-uploads div { overflow: hidden; }

	.ce-left .ce-gallery, .ce-column { float: left; }
	.ce-center .ce-outer { position: relative; float: right; right: 50%; }
	.ce-center .ce-inner { position: relative; float: right; right: -50%; }
	.ce-right .ce-gallery { float: right; }

	.ce-gallery figure { display: table; margin: 0; }
	.ce-gallery figcaption { display: table-caption; caption-side: bottom; }
	.ce-gallery img { display: block; }
	.ce-gallery iframe { border-width: 0; }
	.ce-border img,
	.ce-border iframe {
		border: 2px solid black;
		padding: 0px;
	}

	.ce-intext.ce-right .ce-gallery, .ce-intext.ce-left .ce-gallery, .ce-above .ce-gallery {
		margin-bottom: 15px;
	}
	.ce-intext.ce-right .ce-gallery { margin-left: 15px; }
	.ce-intext.ce-left .ce-gallery { margin-right: 15px; }
	.ce-below .ce-gallery { margin-top: 15px; }

	.ce-column { margin-right: 10px; }
	.ce-column:last-child { margin-right: 0; }

	.ce-row { margin-bottom: 10px; }
	.ce-row:last-child { margin-bottom: 0; }

	.ce-above .ce-bodytext { clear: both; }

	.ce-intext.ce-left ol, .ce-intext.ce-left ul { padding-left: 40px; overflow: auto; }

	.ce-uploads { margin: 0; padding: 0; }
	.ce-uploads li { list-style: none outside none; margin: 1em 0; }
	.ce-uploads img { float: left; padding-right: 1em; vertical-align: top; }
	.ce-uploads span { display: block; }
/* default styles for extension "tx_gigaproducts" */
	textarea.f3-form-error {
		background-color:#FF9F9F;
		border: 1px #FF0000 solid;
	}

	input.f3-form-error {
		background-color:#FF9F9F;
		border: 1px #FF0000 solid;
	}

	.tx-giga-products table {
		border-collapse:separate;
		border-spacing:10px;
	}

	.tx-giga-products table th {
		font-weight:bold;
	}

	.tx-giga-products table td {
		vertical-align:top;
	}

	.typo3-messages .message-error {
		color:red;
	}

	.typo3-messages .message-ok {
		color:green;
	}

/* default styles for extension "tx_felogin_pi1" */
		.tx-felogin-pi1 label {
			display: block;
		}
