@font-face {
	font-family: 'HelveticaNeueLTCom';
	src: url('/etc/designs/hukde/fonts/HelveticaNeueLTCom/946b2f3f-a9d7-47e4-9738-ee963004d697.woff2') format('woff2'),
	url('/etc/designs/hukde/fonts/HelveticaNeueLTCom/ce90a9c3-4580-4fa7-b453-9a4e86d0c271.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueLTCom';
	src: url('/etc/designs/hukde/fonts/HelveticaNeueLTCom/5f4620bc-98f7-4b13-9f90-3a54ea6a9c55.woff2') format('woff2'),
	url('/etc/designs/hukde/fonts/HelveticaNeueLTCom/ac30e84e-cb19-4576-b6f9-491fccbd42ff.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}
