@media all and (max-width: 1180px)
    {
    
	#site-header #logos a#logo-2 {
		margin-left:6px;
	}
	#site-header #logos a#logo-1 {
		margin-right:6px;
	}
	#site-header #gradient
	{
	display: none;
	}
	
    #navigation-and-search.fixed
	{
	top: 120px;
	left: 0%;
	width: 98%;
	padding: 6px 1%;
	margin: 0px;
	}
	
    .download-video-button
	{
	display: none;
	}
    }
@media all and (max-width: 992px)
	{
	
	body
	{
		background-attachment: inherit;
	}	
	
	}
@media all and (max-width: 640px)
    {
		
	
		
    body
	{
	-webkit-text-size-adjust: none;
	}
    
    .nonmobile,
    .nonmobile *
	{
	display: none;
	}
	
    .mobile
	{
	display: block;
	}
    
    #container
	{
	padding-top: 0px;
	}
	
	
    /* Header */
    header#site-header
	{
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	}

	#site-header #logos a#logo-2 {
		width: 138px;
		height: 70px;
		background: transparent url(/images/layout/logo_mobile.png) center center no-repeat;
		background-size: contain;
	}	
	
    #navigation-and-search.fixed
	{
	position: relative;
	top: auto;
	left: auto;
	width: auto;
	padding: 0px;
	margin: 0px;
	}
	
    a.cart-link
	{
	float: none;
	position: absolute;
	top: 0px;
	right: 50px; /* 44 + 6 */
	margin-left: 0px;
	border-left: #fff 6px solid;
	}
	
    a.toggle-navigation
	{
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 44px;
	height: 44px;
	text-indent: -999em;
	overflow: hidden;
	border-left: #fff 6px solid;
	background: #c03 url(/images/layout/navigation.gif) center center no-repeat;
	}
    
    /* kein hover hier, weil buggy mit touchscreen smartphones */
    #index a.toggle-navigation,
    #navigation-and-search a.on
	{
	background-color: #6d7579;
	}


    
    /* SITE-SEARCH */
    #site-search .mobile
	{
	display: block;
	}
	
    #search #site-search .nonmobile
	{
	display: none;
	}
	
    #site-search .mobile input
	{
	display: block;
	width: 96%;
	height: 44px;
	padding: 0px 2%;
	
	color: #000;
	font-size: 1.5rem;
	font-family: 'AudiType', arial, verdana, sans-serif;
	line-height: 44px;
	
	border: none;
	background-color: #b0b6b8;
	}
	
    #site-search .mobile button
	{
	display: none;
	}
    
	
    /* SITE-NAVIGATION */
    nav.mobile
	{
	display: block;
	padding: 15px 15px 5px 15px;
	margin-top: 2px;
	border: #6d7579 1px solid;
	}
	
    nav.mobile select
	{
	display: block;
	width: 100%;
	margin-bottom: 10px;
	font-size: 1.5rem;
	text-align: center;
	}


    /* ---------------------------- PAGE: Chapter ---------------------------- */     
    #chapter article
	{
	float: none;
	width: auto;
	}
	
    #chapter article h1
	{
	padding-left: 0px;
	}
    
    #chapter article p
	{
	padding-left: 0px;
	}

    #chapter .media li
	{
	float: none;
	width: auto;
	margin-right: 0px;
	}
    
    #chapter .media > li:nth-child(even)
		{
		float: none;
		}

    #chapter .media li li
	{
	float: left;
	}
	
    #chapter .featured-media
	{
	float: none;
	width: auto;
	}
	
	.chapters li figure
	{    
	min-height: 100%;
    }

    /* ---------------------------- PAGE: Press ---------------------------- */   
    #press article
	{
	float: none;
	width: auto;
	}
	
    #press .media
	{
	float: none;
	max-width: 100%;
	}
	
	
    /* ---------------------------- PAGE: Cart ---------------------------- */   
    #cart #content header
	{
	padding: 15px 2%;
	}

    #cart #content header h1
	{
	float: none;
	width: auto;
	padding: 0%;
	}
	
    #cart #content header p
	{
	float: none;
	width: auto;
	padding-right: 0%;
	}


    /* ---------------------------- MISC: Chapters ---------------------------- */
    
    .chapters li
	{
	clear: both;
	float: none;
	width: auto;
	height: auto;
	background-image: url(/images/layout/arrows_right.png);
	background-position: 96% center;
	background-repeat: no-repeat;
	}
    
    .chapters li:after
	{
	display: block;
	clear: both;
	content: "";
	}
	
    .chapters li a
	{
	display: block;
	}
	
    /*
    .chapters li a:after
	{
	display: block;
	clear: both;
	content: "";
	}
    */
	
    .chapters li .chapter-media-link
	{
	float: left;
	width: 26%;
	}
	
    .chapters li figure
	{
	float: left;
	width: 26%;
	padding: 0px;
	margin: 0px;
	border: none;
	overflow: hidden;
	background-color: transparent;
	}
	
    .chapters li .chapter-media-link figure
	{
	float: none;
	width: auto;
	overflow: hidden;
	}
    
    .chapters li figure img
	{
	display: block;
	width: 92px;
	}
    
    .chapters li h1
	{
	position: static;
	margin: 0px;
	}
	
    .special-page .chapters li h1
	{
	padding: 0px;
	color: #000;
	background-color: transparent;
	}
	
    .special-page .chapters li h1 a
	{
	color: #333;
	}
    
    .special-page .chapters li h1 a:hover
	{
	color: #c03;
	}
    
    .chapters li h2
	{
	padding-top: 0px;
	padding-bottom: 0px;
	height: 25px;
	line-height: 25px;
	}
	
    .chapters li .chapter-description
	{
	float: right;
	width: 63%;
	padding: 15px 8% 15px 1%;
	margin: 0px;
	}
	
    .chapters li a.more
	{
	display: none;
	}
	
    .chapters li a.quick-view-link
	{
	display: none;
	}
	
    .chapters .available-media
	{
	position: static;
	padding-right: 50px;
	}
    
    .available-media dt
	{
	display: none;
	/*
	float: left;
	width: 50%;
	*/
	}
    
    .available-media dd
	{
	/*
	float: right;
	width: 50%;
	*/
	float: none;
	width: auto;
	text-align: left;
	}
	
    .available-media img
	{
	margin: 5px 8px 0px 0px;
	}


    /* Press Chapters */  
    .chapters li.press-chapter
	{
	padding: 35px 3% 15px 3%;
	background-image: none;
	}

    .chapters li.press-chapter .chapter-description
	{
	float: none;
	width: auto;
	padding: 0px;
	}
	
	
    /* Link Chapters */
    .chapters li.link-chapter
	{
	padding-top: 25px;
	/*background-image: none;*/
	}


    /* ---------------------------- MISC: Info Box ---------------------------- */
    .icon-buttons li,
    .media .icon-buttons li,
    figure .icon-buttons li
	{
	position: static;
	}
	
    aside .icon-buttons li
	{
	position: relative;
	}

    figure .icon-box
	{
	top: 10px;
	right: 10px;
	bottom: auto;
	left: 10px;
	padding-bottom: 0px;
	white-space: normal;
	background: none;
	}
	
    .icon-box-content textarea
	{
	width: 96%;
	padding: 5px 2%;
	}
    

    /* ---------------------------- MISC: Play Icons ---------------------------- */
    .chapters li figure.video figcaption,
    #cart .entry-image figcaption
	{
	background-image: url(/images/layout/icons/play_small.png);
	}

	
    /* ---------------------------- MISC: (Video) Popups ---------------------------- */
    .popup
	{
	position: absolute;
	top: 0%;
	left: 10px;
	right: 10px;
	width: auto;
	margin: 0px;
	}
	#turntable-hd-link {
		display: none;
	}
	/* ---------------------------- FOOTER ---------------------------- */	
	footer .footer-navigation li {
		display: block;
		padding-right: 0px;
	}
	/* ---------------------------- LIGHTBOX ---------------------------- */		
	.lb-nav a.lb-next {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) !important;
		opacity: 1 !important;
	}
	.lb-nav a.lb-prev {
	  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100) !important;
	  opacity: 1 !important;
	}	

	.chapter-title-mobile {
		display: block;
	}
	.chapter-title-desktop {
		display: none;
	}
	.chapter-index img {		
		width: 92px;
	}
	
	.mobile-image {
		display: block;
	}
	.desktop-image {
		display: none;
	}
	/* ---------------------------- HEADERSLIDER ---------------------------- */		
	.controls {bottom: 0px;}
	ol.numericControls > li > a > span {border: 2px solid #B0B6B8; box-shadow: none;}
	ol.numericControls > li.current > a > span {background-color: #B0B6B8;}
	.slide-link {
    position: relative;
    margin: 0px;
	padding: 20px 0px;
	left: 0px;
	bottom: 0px;
	background: none;
	}
	.prevBtn, .nextBtn {top:-80px;}
	
	
}

	
	