@font-face {
    font-family: 'AudiType';
    src: url('AudiType-Normal_08.eot');
    src: url('AudiType-Normal_08.eot?#iefix') format('embedded-opentype'),
         url('AudiType-Normal_08.woff') format('woff'),
         url('AudiType-Normal.ttf') format('truetype'),
         url('AudiType-Normal_08.svg#AudiType') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AudiTypeBold';
    src: url('AudiType-Bold_08.eot');
    src: url('AudiType-Bold_08.eot?#iefix') format('embedded-opentype'),
         url('AudiType-Bold_08.woff') format('woff'),
         url('AudiType-Bold.ttf') format('truetype'),
         url('AudiType-Bold_08.svg#AudiTypeBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AudiTypeExtended';
    src: url('AudiType-ExtendedNormal_08.eot');
    src: url('AudiType-ExtendedNormal_08.eot?#iefix') format('embedded-opentype'),
         url('AudiType-ExtendedNormal_08.woff') format('woff'),
         url('AudiType-ExtendedNormal_08.ttf') format('truetype'),
         url('AudiType-ExtendedNormal_08.svg#AudiTypeBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AudiTypeExtendedBold';
    src: url('AudiType-ExtendedBold_08.eot');
    src: url('AudiType-ExtendedBold_08.eot?#iefix') format('embedded-opentype'),
         url('AudiType-ExtendedBold_08.woff') format('woff'),
         url('AudiType-ExtendedBold.ttf') format('truetype'),
         url('AudiType-ExtendedBold_08.svg#AudiTypeBold') format('svg');
    font-weight: normal;
    font-style: normal;
}