@font-face{
	src:url("iconfont-69d9673c7f957d02226b10d6286b285d.eot?#iefix") format("embedded-opentype"),url("iconfont-0bb69673aa5f09b903d609185e0a1f61.woff") format("woff"),url("iconfont-f59b43d672e717667ca3d8f87534cd21.ttf") format("truetype"),url("iconfont-8cb06adee9ca7ba11925ece99b307504.svg#iconfont") format("svg");
	font-family:"iconfont"; 
	font-weight:normal;
	font-style:normal;
}

.mejs-container {
	font-family: Helvetica, Arial;
	text-align: left;
	text-indent: 0;
	background: #fff;
}
.mejs-mediaelement {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.vdt-mejs .mejs-container .mejs-poster img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	margin: auto;
}
.vdt-mejs .mejs-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 50px;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
	background: rgba(33,33,33,0.7);
}

.vdt-mejs .mejs-controls .mejs-playpause-button {
	position: absolute;
	bottom: 20px;
	left: 40px;
}

.vdt-mejs .mejs-controls div {
	display: block;
	float: left;
	height: 30px;
	width: 30px;
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial;
	line-height: 12px;
	background: none repeat scroll 0 center transparent;
	border: 0 none;
}
.vdt-mejs .mejs-controls .mejs-playpause-button button {
	width: 100%;
	height: 30px;
	color: white;
	font-size: 250%;
	line-height: 30px;
	text-align: center;
	background: none;
}
.mejs-controls .mejs-pause button {
	background-position: 0 -16px;
}

.mejs-overlay-play {
	cursor: pointer;
}

.vdt-mejs .mejs-layers .mejs-overlay-play .mejs-overlay-button {
	margin: -25px 0 0 -25px;
	font-family: iconfont;
	width: 50px;
	height: 50px;
	color: white;
	font-size: 166.66667%;
	line-height: 50px;
	text-align: center;
	border: 5px solid rgba(255,255,255,0.2);
	background: #000;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.mejs-overlay-button {
	position: absolute;
	top: 50%;
	left: 50%;
}
.mejs-pause button{
	font-family:iconfont
}
.icon-media-play:before, .vdt-audio.is-paused:before, .vdt-mejs .mejs-layers .mejs-overlay-play .mejs-overlay-button:before, .vdt-mejs .mejs-controls .mejs-play button:before {
	content: "\f119";
}
.icon-media-pause:before,.vdt-mejs .mejs-controls .mejs-pause button:before{
	content:"\f118"
}
.icon-media-stop:before{
	content:"\f11a"
}
.icon-media-vol-mute:before,.vdt-mejs .mejs-controls .mejs-volume-button.mejs-unmute button:before{
	content:"\f11b"
}

.icon-media-vol:before,.vdt-mejs .mejs-controls .mejs-volume-button.mejs-mute button:before{
	content:"\f11c"
}
.icon-media-fs-open:before, .vdt-mejs .mejs-controls .mejs-fullscreen-button button:before {
	content: "\f117";
}

.vdt-mejs .mejs-controls .mejs-volume-button {
	position: absolute;
	right: 114px;
	bottom: 18px;
	font-size: 14px;
}
.vdt-mejs .mejs-controls .mejs-volume-button.mejs-mute button {
	font-family: iconfont;
}

.vdt-mejs .mejs-container .mejs-button button {
	margin: 0;
	height: 30px;
	line-height: 30px;
}

.vdt-mejs .mejs-controls .mejs-volume-button button {
	width: 100%;
	color: white;
	font-size: 150%;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	background: none;
}

.vdt-mejs .mejs-controls .mejs-time-rail .mejs-time-total {
	width: 100% !important;
	height: 10px;
	margin: 0;
	background: #6d7579;
}

.vdt-mejs .mejs-controls .mejs-time-rail span {
	border-radius: 0;
}

.mejs-controls .mejs-time-rail .mejs-time-buffering {
	width: 100%;
	background-image: -webkit-linear-gradient(45deg, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background-image: -moz-linear-gradient(45deg, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background-image: -o-linear-gradient(45deg, rgba(50,50,50,0.9), rgba(0,0,0,0.9));
	background-image: linear-gradient(45deg, rgba(50,50,50,0.9),rgba(0,0,0,0.9));
	-webkit-background-size: 15px 15px;
	-moz-background-size: 15px 15px;
	-o-background-size: 15px 15px;
	background-size: 15px 15px;
	-webkit-animation: buffering-stripes 2s linear infinite;
	-moz-animation: buffering-stripes 2s linear infinite;
	-ms-animation: buffering-stripes 2s linear infinite;
	-o-animation: buffering-stripes 2s linear infinite;
	animation: buffering-stripes 2s linear infinite;
}

.vdt-mejs .mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #fff;
}

.vdt-mejs .mejs-controls .mejs-time-rail span {
	border-radius: 0;
}

.vdt-mejs .mejs-controls .mejs-time-rail .mejs-time-current {
	background: #c03;
}

.vdt-mejs .mejs-controls .mejs-playpause-button button:hover {
	color: #c03;
}

.vdt-mejs .mejs-controls .mejs-play button {
	font-family: iconfont;
}

.vdt-mejs .mejs-controls .mejs-playpause-button button {
	width: 100%;
	height: 30px;
	color: white;
	font-size: 170%;
	line-height: 30px;
	text-align: center;
	background: none;
}

.vdt-mejs .mejs-controls button:focus, .vdt-mejs .mejs-controls button:hover {
	outline: 0;
}

.vdt-mejs .mejs-controls .mejs-volume-button.mejs-mute button {
	font-family: iconfont;
}

.vdt-mejs .mejs-controls .mejs-volume-button button {
	width: 100%;
	color: white;
	font-size: 150%;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	background: none;
}

.vdt-mejs .mejs-controls .mejs-volume-button {
	position: absolute;
	right: 114x;
	bottom: 5px;
	font-size: 14px;
}

.vdt-mejs .mejs-controls .mejs-volume-button.mejs-mute button {
	font-family: iconfont;
}

.vdt-mejs .mejs-controls .mejs-volume-button button {
	width: 100%;
	color: white;
	font-size: 150%;
	font-weight: 400;
	line-height: 30px;
	text-align: left;
	background: none;
}

.vdt-mejs .mejs-controls .mejs-fullscreen-button button {
	font-family: iconfont;
	width: 100%;
	color: white;
	font-size: 150%;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	background: none;
}

.vdt-mejs .mejs-controls .mejs-fullscreen-button {
	position: absolute;
	right: 10px;
	bottom: 8px;
}

.vdt-mejs .mejs-container .mejs-controls .mejs-horizontal-volume-slider {
	/*display: none !important;*/
}

.mejs-controls .mejs-pause button {
	background-position: 0 -16px;
}
.vdt-mejs .mejs-controls .mejs-playpause-button {
	position: absolute;
	bottom: 8px;
	left: 26px;
}

.vdt-mejs .mejs-controls .mejs-volume-button.mejs-unmute button{
	font-family:iconfont
}

.icon-media-fs-open:before, .vdt-mejs .mejs-controls .mejs-loop-button button:before {
	content: url('settings.png');
}
.vdt-mejs .mejs-controls .mejs-loop-button button {
	font-family: iconfont;
	width: 100%;
	color: white;
	font-size: 150%;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	background: none;
}
.vdt-mejs .mejs-controls .mejs-loop-button {
	position: absolute;
	right: 156px;
	bottom: 6px;
}
.mejs-sourcechooser-selector {	
	visibility: hidden;
	position: absolute;
	bottom: 26px;
	right: -5px;
	color: #fff !important;
	width: auto !important;
	height: auto !important;
	background: url(background.png);
	background: rgba(50,50,50,0.7) !important;
	border: solid 1px transparent !important;
	padding: 10px !important;
	overflow: hidden;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.qsel {
	line-height: 2em;
}
.qsel a {
	cursor: pointer;
	color: #fff;
	text-decoration: none;
}
.qsel a:hover, .qsel.active a {
        color: #c03;
}

.vdt-mejs .mejs-container .mejs-controls .mejs-horizontal-volume-slider {
	position: absolute;
	right: 76px;
	bottom: 0px;
}

.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total {
	height: 20px;
	top: 0px;
	background: transparent url("video-js-audi.png") 2px -54px no-repeat;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	background: url("video-js-audi.png") -58px -54px no-repeat;
}
.mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-handle {
	position: relative;
	width: 5.4em;
	height: 20px;
	margin: 4.1em auto 0;
	cursor: pointer !important;
	
}
.mejs-controls .mejs-time-rail span {
	height: 5px;
}	
.vdt-mejs .mejs-controls .mejs-time-rail .mejs-time-total {
	height: 5px;
}	
