body {
    background-image: url("https://www.allianz.com/media/press/photo/2015-12-homepage-takeover/bg.jpg");
    background-size: 100% 100%;
}
#wrapper {
    background: none !important;
}
.container-wide_stage {
    margin-left: 0px !important;
    margin-right: 10px !important;
}
#footer {
	z-index: 99;
}
